{% if data['mobileMode'] %}
  {% extends 'layouts/layout-app-new.html' %}
{% else %}
  {% extends 'layouts/layout-manage-v12.html' %}
{% endif %}

{% block pageTitle %}
Remove a phone number
{% endblock %}

{% block content %}

<!-- convert DATA to Nunjucks variable -->
{% set patientMobile = data['patient-mobile'] %}
{% set patientMobile2 = data['patient-mobile-2'] %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
        
        <h1 class="nhsuk-heading-l">
          Are you sure you want to remove 
          {% if data['mobile-for-login'] %}
          {{patientMobile | truncate(2, true, "")}}&bull;&bull;&bull;&bull;&bull;&bull;{{patientMobile.slice(8)}}??
          {% else %}
          {{patientMobile2 | truncate(2, true, "")}}&bull;&bull;&bull;&bull;&bull;&bull;{{patientMobile2.slice(8)}}??
          {% endif %}
        </h1>
  
        <a href="../index" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-4">
          No
        </a>
        
        {% if data['mobile-for-login'] %}
        <a href="phone-remove-login" class="nhsuk-button nhsuk-button-red">
          Yes, I'm sure
        </a>
        {% else %}
        <a href="phone-remove-done?patient-mobile-2=" class="nhsuk-button nhsuk-button-red">
          Yes, I'm sure
        </a>
        {% endif %}

    </div>

  </div>
{% endblock %}
