{% if data['mobileMode'] %}
  {% extends 'layouts/layout-app-new.html' %}
{% else %}
  {% extends 'layouts/layout-manage-v12.html' %}
{% endif %}

{% block pageTitle %}
Remove a phone number
{% endblock %}

{% block content %}

<!-- convert DATA to Nunjucks variable -->
{% set patientMobile = data['patient-mobile'] %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">
          {{patientMobile}} is still being used for your NHS login
        </h1>

      <p>Go to your login details if you need to change it.</p>

      <a class="nhsuk-button" href="../manage-login?patient-mobile=">Go to login details</a>
      
      <p><a href="../index?patient-mobile=">I do not want to change my login phone number</a></p>

    </div>

  </div>
{% endblock %}
