{% if data['mobileMode'] %}
  {% extends 'layouts/layout-app-new.html' %}
{% else %}
  {% extends 'layouts/layout-manage-v12.html' %}
{% endif %}

{% block pageTitle %}
Remove a phone number
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{data['patient-mobile']}} is still being used for your NHS login unless you change it</h1>

      <a class="nhsuk-button" href="../manage-login?patient-mobile-removed=y">Change my login phone number</a>
      
      <p><a href="../index?patient-mobile-removed=y">I do not want to change my login phone number</a></p>

      <!--<a class="nhsuk-button" href="../manage-login?patient-mobile=">Change my login phone number</a>
      
      <p><a href="../index?patient-mobile=">I do not want to change my login phone number</a></p>-->

    </div>

  </div>
{% endblock %}
