{% extends 'layouts/layout-nhsprofile.html' %}

{% block pageTitle %}
  Change your password
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/v1/index",
    text: "Manage your NHS login"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
          Change your password
      </h1>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="current-password">
          Current password
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="current-password" name="test-width-10" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="new-password">
          New password
        </label>
        <span class="nhsuk-hint">Your password must have:</span>
        <ul class="nhsuk-hint-list">
          <li><span class="nhsuk-hint">8 characters or more</span></li>
          <li><span class="nhsuk-hint">1 capital letter or more</span></li>
        </ul>
        <input class="nhsuk-input nhsuk-input--width-10" id="new-password" name="test-width-10" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="confirm-password">
          Confirm new password
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="confirm-password" name="test-width-10" type="text">
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="/v1/password-change-done">
        Change password
      </a>

      {{ backLink({
        "href": "/v1/index",
        "text": "Back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
