{% extends 'layouts/layout-manage.html' %}

{% block pageTitle %}
  Delete your NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
          Delete your NHS login
      </h1>

      <p>You have not used your NHS login to access any websites or apps yet.</p>

      <p>You can use your NHS login to access:</p>
      <p style="font-weight: bold; margin-bottom: 0em;"><a href="https://www.nhs.uk/apps-library/nhs-app/">NHS app</a></p>
      <p style="margin-top:0.4em; margin-bottom: 1em;">You can book GP appointments, manage your prescriptions and access a range of other healthcare services.</p>
      <p style="font-weight: bold; margin-bottom: 0em;"><a href="https://www.eredbook.org.uk/">eRedbook</a></p>
      <p style="margin-top:0.4em; margin-bottom: 1em;">Keep a record of your child's health, see upcoming appointments and read interesting articles about their development.</p>
      <p style="font-weight: bold; margin-bottom: 0em;"><a href="https://www.patientaccess.com/">Patient Access</a></p>
      <p style="margin-top:0.4em; margin-bottom: 1em;">You can connect to your GP surgery, book pharmacy services and access medical content.</p>
      
      <p>If you delete your NHS login, you will have to register to set up an NHS login if you wish to use it again in the future. You may also need to prove who you are.</p>

      <p class="nhsuk-heading-m nhsuk-u-margin-top-3">Are you sure you want to continue?</p>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="delete-login-password">
        Yes
      </a>

      {{ backLink({
        "href": "index",
        "text": "I do not want to delete my NHS login",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
