{% extends 'layouts/layout-manage.html' %}

{% block pageTitle %}
  Delete your NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
          Delete your NHS login
      </h1>

      <p>You have not used your NHS login to access any websites or apps yet. You can use your NHS login to access:</p>
      <ul>
        <li></li>
      </ul>
      
      <p>You have not used your NHS login to access any websites or apps yet. You can use your NHS login to access:</p>

      <p class="nhsuk-heading-m nhsuk-u-margin-top-3">Are you sure you want to continue?</p>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="delete-login-password">
        Yes
      </a>

      {{ backLink({
        "href": "index",
        "text": "I do not want to delete my NHS login",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
