// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Patterns that are not in the NHS.UK frontend library
@import 'patterns/check-your-answers';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

// Add your extra styles here...

.nhsuk-button-red {
	background-color: $color_nhsuk-red;
	box-shadow: 0 4px 0 #5d0903;
}

.nhsuk-button-red:hover, .nhsuk-button-red:focus {
	background-color: #a5190e;
}

.nhsuk-hint-list li, .nhsuk-hint-list li span.nhsuk-hint {
	margin-bottom: 8px;
}

.nhsuk-header__navigation-item--for-mobile {
  display: none;
}

.body-email {
	background-color: #d8dde0;
}

.email-width {
	max-width: 600px;
	margin: 0 auto;
	background-color: #fff;
}

.email-width .nhsuk-width-container {
	max-width: 550px;
}

.body-email .nhsuk-footer .nhsuk-width-container{
	display: none;
}

// for manage login homepage

.user-icon {
	fill: $color_nhsuk-blue;
}

.user-info {
	display: inline;
}

.account-name-link {
	display: inline-block;
	position: relative;
	top: -17px;
	color: $color_nhsuk-blue
}

.nhsuk-table-responsive.user-info-table {
	margin-top: 0px;
}