// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Patterns that are not in the NHS.UK frontend library
@import 'patterns/check-your-answers';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';
@import 'components/devmode';
@import 'components/index';

// Add your extra styles here...

.nhsuk-button-red {
	background-color: $color_nhsuk-red;
	box-shadow: 0 4px 0 #5d0903;
}

.nhsuk-button-red:hover, .nhsuk-button-red:focus {
	background-color: #a5190e;
}

.nhsuk-hint-list li, .nhsuk-hint-list li span.nhsuk-hint {
	margin-bottom: 8px;
}

.nhsuk-header__navigation-item--for-mobile {
  display: none;
}

.body-email {
	background-color: #d8dde0;
}

.email-width {
	max-width: 600px;
	margin: 0 auto;
	background-color: #fff;
}

.email-width .nhsuk-width-container {
	max-width: 550px;
}

.body-email .nhsuk-footer .nhsuk-width-container{
	display: none;
}

// for manage login homepage

.user-info {
	display: inline;
}

.account-name-link {
	display: inline-block;
	position: relative;
	top: -17px;
}

.account-name-link-2 {
	display: inline-block;
	position: relative;
}

.nhsuk-table-responsive.user-info-table {
	margin-top: 0px;
}

.cell-left {
	padding-left: 0px;
}

.cell-right {
	padding-right: 0px;
	text-align: right;
}

/*
.nhsuk-icon {
	fill: #005DB8;
}
*/

// index styling

.nhsuk-expander.version-list {
	background-color: #F0F4F5 !important;
  }
  
.nhsuk-details__summary.index {
background-color: #F0F4F5 !important;
padding: 0px !important;
}

@media (max-width: 385px) {
	tr,td {
		display: block;
	}
	td.nhsuk-table__cell.cell-right {
		text-align: left;
		padding: nhsuk-spacing(1) nhsuk-spacing(1) nhsuk-spacing(3) nhsuk-spacing(0)
	}
	td:nth-child(2) {
		//border: none;
		padding: nhsuk-spacing(1) nhsuk-spacing(1) nhsuk-spacing(2) nhsuk-spacing(0)
	}
	td.nhsuk-table__cell.cell-left {
		border-bottom: none;
		padding: nhsuk-spacing(3) nhsuk-spacing(1) nhsuk-spacing(2) nhsuk-spacing(0)
	}
	.row-responsive {
		display: none;
	}
	td:nth-child(3) {
		padding: nhsuk-spacing(0) nhsuk-spacing(1) nhsuk-spacing(2) nhsuk-spacing(0)
	}
}

.align-top {
	th,td{
		vertical-align: top;
	}
}

.no-bottom-border td{
	border-bottom: none;
}

@media (max-width: 385px) {
	.nhsuk-u-hide-385{
		display: none;
	}
	.nhsuk-header__logo .nhsuk-logo{
		width: 80px;
	}
	.nhsuk-header__service-name{
		padding-top: 0;
	}
}

// Fixing reverse button bug
.nhsuk-button--reverse {
    color: #212b32 !important;
}

@media (max-width: 640px) {
	.nhsuk-header__logo{
		max-width: 60%;
	}
}