{% extends 'layouts/layout-manage-v9.html' %}

{% block pageTitle %}
  Remove phone number
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
        
        <h1 class="nhsuk-heading-l">{{ data['patient-mobile'] }} has been removed from your contact details</h1>

        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">Important</h3>
          <p>This mobile phone number is still being used for your NHS login.</p>
          <p>Go to your login details if you need to change it.</p>
        </div>

        <!--<div class="nhsuk-inset-text">
          <h3 class="nhsuk-heading-s">Important</h3>
          <p>This mobile phone number is still being used for your NHS login.<br />
          Go to your login details if you need to change it.</p>
        </div>-->

        <a class="nhsuk-button nhsuk-u-margin-right-4" href="../manage-login?patient-mobile=">Go to login details</a>
        <a class="nhsuk-button nhsuk-button--secondary" href="../index?patient-mobile=">Skip this step</a>

        <!--<p>We noticed this mobile phone number is also used for your NHS login.</p>
        <h2 class="nhsuk-heading-m">Would you like to change this mobile phone number for your NHS login?</h2>

        <form action="patient-change-login-mobile" method="POST">

          <div class="nhsuk-form-group">
            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-change-login-mobile-1" name="patient-change-login-mobile" type="radio" value="yes">
                <label class="nhsuk-label nhsuk-radios__label" for="patient-change-login-mobile-1">
                  Yes
                </label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-change-login-mobile-2" name="patient-change-login-mobile" type="radio" value="no">
                <label class="nhsuk-label nhsuk-radios__label" for="patient-change-login-mobile-2">
                  No
                </label>
              </div>
            </div>
          </div>

          <div class="nhsuk-form-group">
            <button class="nhsuk-button" type="submit">Continue</button>
          </div>

        </form>-->

    </div>

  </div>
{% endblock %}
