
  {% extends 'layouts/layout-email.html' %}


{% block pageTitle %}
You did not pass our checks
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
        
        <h1 class="nhsuk-heading-l">
        You did not pass our checks
          </h1>

          <p>
          You sent the NHS login team some information to prove who you are.
          </p>

          <p>
          You did not pass our checks because some of the details on your NHS record are not the same as the details on your photo I.D.
          </p>

          <p>
          <a href="https://support-nhslogin.herokuapp.com/provewhoyouare/with/article#iddoesntpass">What to do if your I.D. doesn't pass our checks</a>
          </p>

          <p>
          </p>



    </div>

  </div>
{% endblock %}
