  {% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
Contact your GP surgery to check your details are correct
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
        
        <h1 class="nhsuk-heading-l">
          </h1>

          <p>
          You sent the NHS login team some information to prove who you are.
          </p>

          <p>
You did not pass our checks because the face in your video did not match the face on your photo I.D.
          </p>

          <p>
          <a href="https://support-nhslogin.herokuapp.com/provewhoyouare/with/article#howtotake">How to take a good photo of your I.D.</a><br>
          <a href="https://support-nhslogin.herokuapp.com/takeandupload/article#recordvideo">How to record a short video of yourself</a>
          </p>
      
<h3>
How to try again
</h3>

          <p>
Go to the website or app you were trying to access. Enter your email address and NHS login password. You will be asked to prove who you are.
</p>

          <p>
          </p>



    </div>

  </div>
{% endblock %}
