{% extends 'layouts/layout-manage-v10.html' %}

{% block pageTitle %}
  Enter your new password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Enter your new password</h1>

      <div class="nhsuk-form-group">
        <p class="nhsuk-u-margin-bottom-2">Your password must have:</p>
        <ul>
          <li>8 characters or more</li>
          <li>1 capital letter or more</li>
        </ul>
        <label class="nhsuk-label" for="password">New password</label>
        <input class="nhsuk-input nhsuk-input--width-20" id="password" name="password" type="password">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="confirm-password">Confirm new password</label>
        <input class="nhsuk-input nhsuk-input--width-20" id="confirm-password" name="confirm-password" type="password">
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="password-change-done">Change password</a>

      {{ backLink({
        "href": "../index",
        "text": "I do not want to change my password",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
