{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  Check your email
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
        Confirm your new email address
      </h1>

      <p>Confirm this email address to finish changing the email for your NHS login.</p>
      <p><a href="email-confirmed" class="nhsuk-button">Confirm email address</a></p>
      <p>If nothing happens when you click the button, try this link instead:</p>
      <p><a href="email-confirmed">http://login.nhs.uk/create-account/v16/confirm-email</a></p>
      <p>You might need to copy and paste it into an internet browser.</p> 
      <p>If you did not try to set up an NHS login using this email address, then ignore this email. We will delete your information after 1 hours.</p>

    </div>
  </div>

{% endblock %}
