{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  Invite to Helm
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
        Confirm your new email address
      </h1>

      <p>Confirm this email address as your new email address.</p>
      <p><a href="email-confirmed" class="nhsuk-button">Confirm your email address</a></p>
      <p>If nothing happens when you click the button, try this link instead. You might need to copy and paste it into an internet browser:</p>
      <p><a href="email-confirmed">http://managelogin.nhs.uk/change-email</a></p>
      <p>If you did not try to change your email address then ignore this email.</p>

    </div>
  </div>

{% endblock %}
