{% extends 'layouts/layout-nhsprofile-fester.html' %}

{% block pageTitle %}
  Services available with NHS login
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
  items: [
    {
      href: "/nhs-profile-fester/settings/index",
      text: "Manage your NHS login"
    }
  ],
  href: "/nhs-profile-fester/services/services",
  text: "Your services"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
        Services available with NHS login
      </h1>

      <nav class="nhsuk-u-margin-bottom-4 nhsuk-u-margin-top-4" id="nhsuk-nav-a-z" role="navigation" aria-label="A to Z Navigation">
        <ol class="nhsuk-list nhsuk-u-clear nhsuk-u-margin-0" role="list">
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">A</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">B</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">C</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block"href="#D">D</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block"href="#E">E</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block"href="#F">F</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">G</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block"href="#H">H</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">I</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">J</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">K</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">L</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">M</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <a class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block"href="#N">N</a>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">O</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">P</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">Q</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">R</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">S</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">T</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">U</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">V</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">W</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">X</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">Y</span>
          </li>
          <li class="nhsuk-u-margin-bottom-0 nhsuk-u-float-left nhsuk-u-margin-right-1">
            <span class="nhsuk-u-font-size-22 nhsuk-u-padding-2 nhsuk-u-display-block">Z</span>
          </li>
        </ol>
      </nav>

      <ol class="nhsuk-list">
        <li>
          <div class="nhsuk-list-panel">
            <h2 class="nhsuk-list-panel__label" id="D">D</h2>
            <ul class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" href="https://tinymedicalapps.com">Digital Health Passport</a>
              </li>
            </ul>
            <div class="nhsuk-back-to-top">
              <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="19" height="19">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                </svg>
                Back to top
              </a>
            </div>
          </div>
        </li>
      </ol>

      <ol class="nhsuk-list">
        <li>
          <div class="nhsuk-list-panel">
            <h2 class="nhsuk-list-panel__label" id="E">E</h2>
            <ul class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" href="https://econsult.net">eConsult</a>
              </li>
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" href="https://www.eredbook.org.uk">eRedbook</a>
              </li>
            </ul>
            <div class="nhsuk-back-to-top">
              <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="19" height="19">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                </svg>
                Back to top
              </a>
            </div>
          </div>
        </li>
      </ol>

      <ol class="nhsuk-list">
        <li>
          <div class="nhsuk-list-panel">
            <h2 class="nhsuk-list-panel__label" id="F">F</h2>
            <ul class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" href="https://nhs-audit.herokuapp.com/release-dec/start">Find out who's looked at your health records</a>
              </li>
            </ul>
            <div class="nhsuk-back-to-top">
              <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="19" height="19">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                </svg>
                Back to top
              </a>
            </div>
          </div>
        </li>
      </ol>

      <ol class="nhsuk-list">
        <li>
          <div class="nhsuk-list-panel">
            <h2 class="nhsuk-list-panel__label" id="H">H</h2>
            <ul class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" href="https://myhelm.org">Helm</a>
              </li>
            </ul>
            <div class="nhsuk-back-to-top">
              <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="19" height="19">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                </svg>
                Back to top
              </a>
            </div>
          </div>
        </li>
      </ol>

      <ol class="nhsuk-list">
        <li>
          <div class="nhsuk-list-panel">
            <h2 class="nhsuk-list-panel__label" id="N">N</h2>
            <ul class="nhsuk-list-panel__list nhsuk-list-panel__list--with-label">
              <li class="nhsuk-list-panel__item">
                <a class="nhsuk-list-panel__link" href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/">NHS App</a>
              </li>
            </ul>
            <div class="nhsuk-back-to-top">
              <a class="nhsuk-back-to-top__link" href="#nhsuk-nav-a-z">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="19" height="19">
                  <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                </svg>
                Back to top
              </a>
            </div>
          </div>
        </li>
      </ol>

    </div>
  </div>
{% endblock %}
