{% extends 'layouts/layout-nhsprofile.html' %}

{% block pageTitle %}
  Manage your NHS login
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/nhs-profile/settings/index",
    text: "Manage your NHS login"
  }) }}
{% endblock %}

{% block content %}

  <style>

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  figure {
    margin: 0;
    width: 45px;
    height: 45px;
  }

  figure img {
    width: 100%;
    height: auto;
  }

  img {
    display:block;
    border-radius: 50%;
  }

  </style>

      

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
        Choose a person to give access to Helm
      </h1>


      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col"></th>
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Relationship</th>
              <th class="nhsuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <figure>
                  <img src="/images/avatar-fester.png" alt="Uncle Fester">
                </figure>
              </td>
              <td class="nhsuk-table__cell">Fester Addams</td>
              <td class="nhsuk-table__cell ">Uncle or brother-in-law</td>
              <td class="nhsuk-table__cell"><a href="service-person-confirm">Choose</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <figure>
                  <img src="/images/avatar-grandmama.png" alt="Grandmama Addams">
                </figure>
              </td>
              <td class="nhsuk-table__cell">Grandmama Addams</td>
              <td class="nhsuk-table__cell ">Grandmother</td>
              <td class="nhsuk-table__cell"><a href="service-person-confirm">Choose</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="service-profile-add">
        Choose someone else
      </a>

      {{ backLink({
        "href": "/nhs-profile/services/services",
        "text": "I do not want to give access",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>
  </div>
{% endblock %}
