{% extends 'layouts/layout-manage-app.html' %}

{% block pageTitle %}
  Enter the security code
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

        <span class="nhsuk-hint nhsuk-u-margin-bottom-2">Change email address</span>
        <h1 class="nhsuk-fieldset__legend--l">
            Check your email
        </h1>

      <p class="nhsuk-hint">Enter the security code we've emailed to {{ data['user-email'] }}</p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="email-code">
          Security code
        </label>
        <span class="nhsuk-hint">The code is 6 numbers</span>
        <input class="nhsuk-input nhsuk-input--width-10" id="email-code" name="email-code-10" type="number">
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="email-done">
        Continue
      </a>

      {{ backLink({
        "href": "index",
        "text": "I don't want to change my email address",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
