{% extends 'layouts/layout-nhsprofile.html' %}

{% block pageTitle %}
  Manage your NHS login
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/nhs-profile/index",
    text: "Manage your NHS login"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1>
          Your GP
      </h1>

      <h2>Street Lane Practice</h2>


      <p>12 Devonshire Ave,<br>
        Leeds LS8 1AY</p>
    

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="/nhs-profile/your-gp/gp-address-change">
        Update your GP
      </a>

    </div>

  </div>
{% endblock %}
