{% extends 'layouts/layout-manage-v8.html' %}

{% block pageTitle %}
  Enter your password to change your recovery email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-hint nhsuk-u-margin-bottom-2">Add a recovery email</span>
      <h1 class="nhsuk-fieldset__legend--l">
          Enter your password
      </h1>

      <p class="nhsuk-body-m nhsuk-hint">We need to make sure it's you before you can add a recovery email.</p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-10">
          Current password
        </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="user-password" name="user-password" value="{{ data['user-password'] }}" type="password">
      </div>

      <a class="nhsuk-button " type="submit" href="recovery-enter-new-email">
        Continue
      </a>


    {{ backLink({
      "href": "/account/v6/index",
      "text": "I do not want to add a recovery email",
      "classes": "nhsuk-u-margin-top-4"
    }) }}

    </div>

  </div>
{% endblock %}
