{% extends 'layouts/layout-manage-v8.html' %}

{% block pageTitle %}
  Your email address has been changed
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-hint nhsuk-u-margin-bottom-2">Add a recovery email</span>
      <h1 class="nhsuk-fieldset__legend--l">
          Recovery email added
      </h1>
      <p>You have added {{ data['user-email-recovery'] }} as your recovery email.</p>

      {{ backLink({
        "href": "../../index",
        "text": "Back to: My NHS login settings",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
