{% extends 'layouts/layout-manage.html' %}

{% block pageTitle %}
  NHS login terms and conditions
{% endblock %}

{% block content %}

<style>
  .terms-aside {
    padding-bottom: 1em;
  }

  .c-page-contents__link.link-terms {
    font-weight: bold;
    text-decoration: none;
  }
  .terms ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }

  .terms ol li {
    padding-left: 0;
  }

  .terms ol > li {
    display: block;
    margin-top: 1em !important;
    counter-increment: item;
    margin-bottom: 0.6em;
  }

  .terms ol > li:first-of-type > p {
     margin-top: 2em !important;
  }

  .terms ol > li:before {
    content: counters(item, ".") ". ";
    padding-right: 0.6em;
    font-weight: bold;
  }

  .terms li ol > li {
    margin: 0;

  }

  .terms li ol > li > ol >li {
    margin-left: 1.5em;

  }

  .terms li ol > li:before {
    content: counters(item, ".") " ";
  }

  h1 ~ ol > li > h2 {
    padding-top: 0 !important;
  }

  .terms-heading {
    padding-top: 1em;
    font-size: 24px;
    display: inline-block;
  }

  .terms-heading-secondary {
    font-size: 20px;
    display: inline-block;
  }

</style>
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <div class="terms">

        <h1 class="nhsuk-fieldset__legend--l">NHS login – terms and conditions</h1>

        <ol>
          <li><h2 class="terms-heading">Introduction</h2>
            <ol>
              <li>Please read these terms and conditions carefully before you start to use this service.</li>
              <li>We (NHS Digital) have developed an online platform for users to prove their ID (<b>&quot;Platform&quot;</b>) so that they can use the content and functionality available in or through various healthcare websites and apps (<b>&quot;Connected Services&quot;</b>).  You have been directed to this Platform in order to prove your ID for those specific purposes.</li>
              <li>Once you have successfully registered for your NHS login it will be valid across any Connected Service that has signed an agreement with us (called a Reliance Agreement).</li>
            
              <li><strong>Please also review:</strong>
                <ol>
                  <li><strong>the <a href="privacy-notice">Privacy Notice</a> which sets out the terms on which we process any personal data we collect from you, or that you provide to us via the Platform;<br>and</strong></li>

                  <li><strong>the <a href="cookies">Cookies</a> which sets out information about the cookies we use and how we use them when you access and use the Platform.</strong></li>
                </ol>
              </li>
              <li>We do not provide all of the Connected Services. Where we do not, we do not have any responsibility to you for your ability to access and/or use the Connected Services. Some Connected Services may require the completion of additional compliance and verification processes to enable access. This is outside of our control and responsibility.</li>
              <li>Your access and use of the Connected Services is governed by the terms of those Connected Services.</li>
            </ol>
          </li>

          <li><h2 class="terms-heading">Accessing the Platform</h2>
            <ol>
              <li>You are responsible for making all arrangements necessary for you to access the Platform including but not limited to an internet connection and an appropriate smartphone or other similar device (<b>&quot;Device&quot;</b>) for access.</li>
              <li>We do not guarantee that the Platform will always be available or that access to it will be error free or uninterrupted. We may suspend, withdraw, discontinue or change all or any part of the Platform without notice.</li>
              <li>If you know or suspect that anyone other than you knows your username or password to your NHS login, you must promptly reset your password to something which only you know.  Please visit our help and support page (available here: <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help-and-support/" target="_blank">https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help-and-support/</a>) to reset it.</li>
              <li>In order to operate correctly, the Platform requires you to use a Device, operating system and browser which comply with certain minimum requirements.  These minimum requirements can be found on our help and support page, available here: <a href="https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help-and-support/" target="_blank">https://www.nhs.uk/using-the-nhs/nhs-services/the-nhs-app/help-and-support/</a>.</li>
              <li>From time to time we may automatically update the Platform, to improve performance, enhance functionality, reflect changes to the operating system or address security issues. </li>
              <li>We have many measures in place to keep your information safe. But it is important that you also play your part – visit the Government's Get Safe Online app for advice on how to do this.</li>
            </ol>
          </li>

          <li><h2 class="terms-heading">Your right to use the Platform and Services</h2>
            <ol>
              <li>We either own or have the right to use for the purposes of providing the Platform all intellectual property rights (including rights in copyright, patents, database rights, trade marks and other intellectual property rights) (<b>&quot;NHS IPR&quot;</b>) in the Platform and, save as expressly permitted in these Terms of Use, you will need to obtain permission in writing from us or any other owner of any NHS IPR (where we are the licensee) before you may use these items in any way.</li>
              <li>You have permission to use the Platform for the sole purposes described in these Terms of Use.</li>
              <li>Unless permitted by law or under these Terms of Use, you will:
                <ul>
                  <li>not copy the Platform except where such copying is incidental to normal use;</li>
                  <li>not rent, lease, sub-license, loan, translate, merge, adapt, vary or modify the Platform;</li>
                  <li>not modify the Platform, or permit it to be combined with, or become incorporated in, any other programs or services;</li>
                  <li>not disassemble, decompile, reverse-engineer or create derivative works based on the whole or any part of the Platform; and</li>
                  <li>comply with all technology control or export laws that apply to the technology used by the Platform.</li>
                </ul>
              </li>
            </ol>
          </li>

          <li><h2 class="terms-heading">Prohibited uses</h2>
            <ol>
              <li>The Platform is intended for use only by people who live in England. References in these terms to 'the NHS' mean 'the NHS in England' unless otherwise stated. Services and arrangements may differ elsewhere in the United Kingdom.</li>
              <li>You shall not:
                <ul>
                  <li>transmit any material that is defamatory, offensive or otherwise objectionable in relation to your use of the Platform;</li>
                  <li>collect any data or attempt to decipher any transmissions to or from the servers running the Platform;</li>
                  <li>use the Platform:
                    <ul>
                      <li>in a way that could damage, disable, overburden, impair or compromise our systems or security or interfere with other users;</li>
                      <li>in any unlawful manner, for any unlawful purpose, or in any manner inconsistent with these Terms of Use or act fraudulently or maliciously, for example, by hacking into or inserting malicious code, such as viruses, or harmful data, into the Platform;</li>
                      <li>in connection with any kind of denial-of-service attack whether in relation to the Platform or otherwise. By breaching this provision, you may be committing a criminal offence under the Computer Misuse Act 1990. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use the Platform will cease immediately;</li>
                      <li>in any way that constitutes improper use or otherwise in a manner not reasonably contemplated by these Terms of Use; or</li>
                      <li>to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, spyware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ol>
            <p>If you breach any of these Terms of Use we may prevent you from accessing the Platform. This does not necessarily mean you will be prevented from accessing Connected Services.</p>
          </li>

          <li><h2 class="terms-heading">Our liability to you</h2>
            <p><strong>Please read this clause carefully as it sets out the limits of our liability to you in relation to your use of the Platform.</strong></p>
            <ol>
              <li>We undertake the ID verification services on behalf of the provider of the Connected Services. We have separate terms with the providers of the Connected Services to address responsibility for errors in the ID verification process.  If you have any query, complaint or claim regarding the Connected Services and/or the results of the Platform ID verification, you should contact the provider of the Connected Services.</li>
              <li>The Platform may contain technical inaccuracies or typographical errors. We reserve the right at any time and without notice to make changes and improvements to the Platform.</li>
              <li>Although we make reasonable efforts to update the Platform, the Platform is provided 'as is' and, to the extent permitted by law, we make no representations, warranties or guarantees, whether express or implied (including but not limited to the implied warranties of satisfactory quality and fitness for a particular purpose), that your access to, or use of, the Platform will be uninterrupted or completely secure (and we will not be liable or responsible for any loss or damage caused by a virus, distributed denial-of-service attack, or other technologically harmful material that may infect your Device, computer equipment, computer programs, data or other proprietary material due to your use of the Platform).</li>
              <li>We cannot guarantee that links to the Platform from the Connected Services will always work because we are not responsible for all of the Connected Services.</li>
              <li>If the need arises, we reserve the right to amend, delete, suspend or withdraw all or any part of the Platform without notice.</li>
              <li>Nothing in these Terms of Use excludes or limits our liability for death or personal injury arising from our negligence, or our fraud or fraudulent misrepresentation, any loss or damage to a device or digital content belonging to you if you can show that i) this was caused by NHS login and ii) we failed to use reasonable skill and care to prevent this, or any other liability which cannot be excluded or limited under English law.</li>
              <li>Subject to point 5.6 above, we will not be liable or responsible for: 
                <ul>
                  <li>any loss or damage not caused by our breach of these Terms of Use</li>
                  <li>any business loss (including but not limited to loss of profits, revenue, contracts, anticipated savings, data, goodwill, or wasted expenditure</li>
                  <li>any indirect or consequential losses that were not foreseeable to both you and us when you commenced using the Platform (loss or damage is ‘forseeable’ if it was an obvious consequence of our breach of these terms of use or if they were contemplated by you and us at the time you commenced using the Platform)</li>
                  <li>any loss or damage arising from an inability to access and /or use the Platform in whole or part</li>
                  <li>this clause does not affect any legal rights you may have as a consumer in relation to defective services or software. Advice about your legal rights for such is available from your local Citizen’s Advice or Trading Standards Office</li>
                </ul>
              </li>
            </ol>
          </li>

          <li><h2 class="terms-heading">General</h2>
            <ol>
              <li>Each of the clauses of these Terms of Use operates separately. If any part of these Terms of Use is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and exclusions and limits of liability, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of these Terms of Use shall continue in effect (and if any of the sub-clauses in clause 5.3 of these Terms of Use are held to be invalid and are struck out then this shall not impact on any of the remaining sub-clauses).</li>
              <li>Even if we delay in enforcing these Terms of Use, we can still enforce them later. If we do not insist immediately that you do anything you are required to do under these Terms of Use, or if we delay in taking steps against you in respect of your breaking these Terms of Use, that will not mean that you do not have to do those things and it will not prevent us taking steps against you at a later date.</li>
              <li>The laws of England shall apply exclusively to these Terms of Use and to all matters relating to use of the Platform. Any cause of action arising under these Terms of Use or the use of the Platform shall be subject to the exclusive jurisdiction of the courts of England.</li>
              <li>We may, at any time and in our sole discretion, amend these Terms of Use for any reason. For example: to comply with law; changes to the Platform including new features on the Platform. The latest version of our Terms of Use will be accessible through the Platform and we will notify you of any material changes through a notice via the Platform so you can then elect to refresh your consent.</li>
            </ol>
          </li>

          {{ reviewDate({
            "lastReview": "13 December 2018"
          }) }}

        </ol>
      </div>

    </div>

  </div>
{% endblock %}
