{% extends 'layouts/layout-manage-access-v3a.html' %}

{% block pageTitle %}
  Manage your NHS login
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

  
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Connected people</h1>
    </div>

    <div class="nhsuk-grid-column-three-quarters">


      <p>We are still working on this page but soon you will be able to <strong>connect your NHS login to another person</strong> which for example will allow you to:</p>
      <ul>
        <li>book appointments for another person.</li>
        <li>share your medical record with your family.</li>
        <li>order repeat prescriptions for a family member or close friend.</li>
        <li>help you manage how you care for another person.</li>
      </ul>

      <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Help us improve this service</span>
        <p>Help us improve this service</p>
        <mark>not sure if this is needed or will it even be seen?</mark>
      </div>
      
<!--
      <h2>Is 'Connected people' the right name for this page?</h2>
      <p><a href="">Yes</a>
      <a href="">No</a></p>
-->
      <div class="nhsuk-form-group">
        <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
          <legend class="nhsuk-fieldset__legend--l">
            Does the page offer what you would expect?
          </legend>
          <!--<span class="nhsuk-hint" id="example-hint">
            This includes changing your last name or spelling your name differently.
          </span>-->
          <div class="nhsuk-radios">
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="example-1">
                Yes
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no" checked>
              <label class="nhsuk-label nhsuk-radios__label" for="example-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <p><a class="nhsuk-button" href="" type="submit">Submit</a></p>
      <mark>prob need to send them to a thank you page</mark>
    </div>
  </div>



{% endblock %}
