{% extends 'layouts/layout-manage-access-v3a.html' %}

{% block pageTitle %}
  Enter your password to change your email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-hint nhsuk-u-margin-bottom-2">Change email address</span>
      <h1 class="nhsuk-fieldset__legend--l">
          Enter your password
      </h1>

      <p class="nhsuk-body-m nhsuk-hint">We need to make sure it's you before you can change your email address.</p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="input-width-10">
          Current password
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="current-password" name="test-width-10" type="text">
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="email-edit-alt">
        Continue
      </a>

      {{ backLink({
        "href": "index",
        "text": "I do not want to change my email address",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
