{% extends 'layouts/layout-manage-access-v3c.html' %}

{% block pageTitle %}
  Manage your NHS login
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

  
    <div class="nhsuk-grid-column-three-quarters">
      <h1 class="nhsuk-heading-xl">Services you manage on behalf of another person</h1>
   <!-- </div>
  </div>
  
  <mark>need to sort out the spacing</mark>
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">-->
      <p>You can access the following services on behalf of another person. You can remove yourself and stop acting on behalf of another person.</p>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Services</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Service</th>
              <th class="nhsuk-table__header" scope="col">Options</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">David Smith</td>
              <td class="nhsuk-table__cell ">NHS APP</td>
              <td class="nhsuk-table__cell "><a href="">Remove</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">-</td>
              <td class="nhsuk-table__cell ">eRedBook</td>
              <td class="nhsuk-table__cell "><a href="">Remove</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">John Smith</td>
              <td class="nhsuk-table__cell ">NHS App</td>
              <td class="nhsuk-table__cell "><a href="">Remove</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Remove access from yourself</h2>
      <p>If you no longer wish to be able to act on behalf of another person you can remove it. You can remove access to service or you can choose to remove the connection with another person.</p>
      <p><a href="">Remove access from yourself</a></p>
      
    </div>
  </div>



   <!-- <div class="nhsuk-grid-column-three-quarters">

      

      <p>Nothing to see here</p>
      <ul><li>maybe a list</li></ul>
      <p>Add a question</p>
      <p>some options</p>

      <p><a class="nhsuk-button" href="" type="submit">Submit</a></p>  
    </div>-->
  </div>



{% endblock %}
