{% extends 'layouts/layout-manage-access-v3c.html' %}

{% block pageTitle %}
  Enter your password to change your email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-hint nhsuk-u-margin-bottom-2">Remove device</span>
      <h1 class="nhsuk-fieldset__legend--l">
        Are you sure you want to remove this device?
      </h1>

      <p class="nhsuk-body-m">It will mean you will need to enter a security code that we send to your phone any time you use NHS login on this device.</p>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="device-removed">
        Remove device
      </a>

      {{ backLink({
        "href": "index",
        "text": "I do not want to remove this device",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
