{% extends 'layouts/layout-manage-access-v3c.html' %}

{% block pageTitle %}
  Enter your password to change your email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <span class="nhsuk-hint nhsuk-u-margin-bottom-2">Remove device</span>
      <h1 class="nhsuk-fieldset__legend--l">
        Device removed
      </h1>

      <p class="nhsuk-body-m">You will need to enter the password sent to your phone when using your NHS login on this device.</p>


      {{ backLink({
        "href": "index",
        "text": "Back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
