{% extends 'layouts/layout-manage-access-v3c.html' %}

{% block pageTitle %}
  Change your password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-hint nhsuk-u-margin-bottom-2">Change password</span>
      <h1 class="nhsuk-fieldset__legend--l">
          Enter your new password
      </h1>

      <div class="nhsuk-form-group">
        <span class="nhsuk-hint">Your password must have:</span>
        <ul class="nhsuk-hint-list">
          <li><span class="nhsuk-hint">8 characters or more</span></li>
          <li><span class="nhsuk-hint">1 capital letter or more</span></li>
        </ul>
        <label class="nhsuk-label" for="new-password">
          New password
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="new-password" name="test-width-10" type="text">
      </div>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="confirm-password">
          Confirm new password
        </label>
        <input class="nhsuk-input nhsuk-input--width-10" id="confirm-password" name="test-width-10" type="text">
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="password-change-done">
        Change password
      </a>

      {{ backLink({
        "href": "index",
        "text": "I do not want to change my password",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
