{% extends 'layouts/layout-manage-access-v3c.html' %}

{% block pageTitle %}
  Your phone number has been changed
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
          Phone number changed 
      </h1>

      <p class="nhsuk-body">Your phone number has been changed to {{ data['phone-number']}}</p>

      {{ backLink({
        "href": "index",
        "text": "Back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div> 

  </div>
{% endblock %}