{% extends 'layouts/layout-manage-access-v3b.html' %}

{% block pageTitle %}
  Manage your NHS login
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

  
    <div class="nhsuk-grid-column-three-quarters">
      {{ backLink({
        "href": "delegated-access",
        "text": "Go back"
      }) }}
      <h1 class="nhsuk-heading-xl">People connected to you</h1>
    <!--</div>-->
 <!-- </div>

  <div class="nhsuk-grid-row">-->
    <!--<div class="nhsuk-grid-column-three-quarters">-->
      <!--<h2>Activity</h2>-->
      <p>You have connected with the following people. You can add and remove people</p>
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Connected people</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Relation</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Dave Smith</td>
              <td class="nhsuk-table__cell ">Brother</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">Susan Smith</td>
              <td class="nhsuk-table__cell ">Mother</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">John Smith</td>
              <td class="nhsuk-table__cell ">Father</td>
            </tr>
          </tbody>
        </table>
      </div>

      <h2>Add Person</h2>
      <p><a href="">Add person</a></p>

      <h2>Remove Person</h2>
      <p><a href="">Remove person</a></p>
    </div>
  </div>



   <!-- <div class="nhsuk-grid-column-three-quarters">

      

      <p>Nothing to see here</p>
      <ul><li>maybe a list</li></ul>
      <p>Add a question</p>
      <p>some options</p>

      <p><a class="nhsuk-button" href="" type="submit">Submit</a></p>  
    </div>-->
  </div>



{% endblock %}
