{% extends 'layouts/layout-manage-access-v3b.html' %}

{% block pageTitle %}
  Enter your new phone number
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <form action="phone-number-code" method="post" class="form">
        <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <span class="nhsuk-hint nhsuk-u-margin-bottom-2">Change phone number</span>
            <h1 class="nhsuk-fieldset__heading">
              Enter enter your new phone number
            </h1>
          </legend>
          <div class="nhsuk-form-group">
            <span class="nhsuk-hint">
              We will send a 6 digit security code to your new phone number.
              </span>
            <label class="nhsuk-label" for="phone-code">
               New phone number
            </label>
            <input class="nhsuk-input nhsuk-u-width-one-half" id="phone-number" name="phone-number" value="{{ data['phone-number'] }}" type="text">
          </div>
        </fieldset>
        <button class="nhsuk-button">Continue</button>
      </form>

      {{ backLink({
        "href": "index",
        "text": "I do not want to change my phone number",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
