{% extends 'layouts/layout-nhslogin.html' %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-4">

    {{ backLink({
        "href": "app-email",
        "text": "Back to: Enter your email"
      }) }}

    <h1 class="nhsuk-heading-l">Enter your password</h1>

    <form action="app-OTP" method="POST" autocomplete="off">

      <label class="nhsuk-label" for="input-with-hint-text">Enter your password to log in.</label>
      <label class="nhsuk-label nhsuk-u-margin-top-5" for="input-with-hint-text">Password</label>
      <input class="nhsuk-input nhsuk-input--width-20" data-toggle-password-field-confirm id="revealPassword" name="revealPassword" type="password">

      <div style="display: inline; position: relative;">
        <div style="display: inline; position: relative;">
          <button type="button" aria-pressed="false" data-toggle-password-confirm
            class="button-link form__toggle-password" style="border: none; position: absolute; right: 10px; top: -5px;">
            <span id="text-toggle" class="nhsuk-body-s" style="margin-bottom: 0px;"><b>Show</b></span>
          </button>
        </div>
      </div>

      <div class="flex-parent" style="padding-top: 8px; margin-bottom: 24px;">
        <div class="spinner-wrapper">
          <p style="margin-bottom: 0px; display: inline-block;"><a href="#" style="margin-right: 16px;">Forgotten password?</a></p>
          <div style="display: none;" id="loading"></div>
        </div>
      </div>

      <div>
        <button class="nhsuk-button full-width" type="submit">Continue</button>
      </div>

    </form>

  </div>
</div>

{% endblock %}