{% extends 'layouts/layout-nhslogin.html' %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Something went wrong</h1>

      <p>There was a technical problem and we could not update your contact details.</p>
      <p>You can try again by logging in after 24 hours.</p>
      <p>Reference: CID2030</p>

      <div class="nhsuk-form-group">
        <a href="../app" class="nhsuk-button nhsuk-u-margin-bottom-0">Continue</a>
      </div>

    </div> 

  </div>
{% endblock %}