{% extends 'layouts/layout-nhslogin.html' %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      {% if data['change'] %}
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="prompt-confirm">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back to: Check your contact details</a>
      </div>
      {% else %}
      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="prompt">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Back to: Your NHS contact details could be out of date</a>
      </div>
      {% endif %}

      {% if data['change'] %}

        <form action="prompt-confirm" method="POST">

      {% else %}

        {% if data['scenario'] == "6" %}
          <form action="prompt-confirm" method="POST">
        {% else %}
          <form action="prompt-email" method="POST">
        {% endif %}

      {% endif %}

        {% if (data['scenario'] == "1") or (data['scenario'] == "4") or (data['scenario'] == "6") %}
      
        <div class="nhsuk-form-group">

          <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">We have more than one mobile number for you</h1>

          <fieldset class="nhsuk-fieldset">
            
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h2 class="nhsuk-fieldset__heading">Which mobile number should the NHS use to contact you?</h2>
            </legend>

            <span class="nhsuk-hint">
              The mobile number you do not choose will be removed from your contact details.
            </span>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-2" name="patient-mobile" type="radio" value="07888364455" {% if data['patient-mobile'] == "07888364455" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-2">07888364455</label>
                <!--<span class="nhsuk-hint nhsuk-radios__hint">This is the mobile number currently in your NHS contact details</span>-->
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-1" name="patient-mobile" type="radio" value="07736251423" {% if data['patient-mobile'] == "07736251423" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-1">07736251423</label>
                <!--<span class="nhsuk-hint nhsuk-radios__hint">You provided this mobile number when you set up your NHS login</span>-->
              </div>
              <!--<div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-both" name="patient-mobile" type="radio" value="both" {% if data['patient-mobile'] == "both" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-both">Both</label>
                <span class="nhsuk-hint nhsuk-radios__hint">We will add both mobile numbers to your contact details</span>
              </div>-->
            </div>

          </fieldset>

        </div>

        {% endif %}

        {% if (data['scenario'] == "7") %}
      
        <div class="nhsuk-form-group">

          <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">We have more than one mobile number for you</h1>

          <fieldset class="nhsuk-fieldset">
            
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h1 class="nhsuk-fieldset__heading">Which mobile number should the NHS use to contact you?</h1>
            </legend>

            <span class="nhsuk-hint">
              The mobile number you do not choose will be removed from your contact details.
            </span>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-1" name="patient-mobile" type="radio" value="07888364455" {% if data['patient-mobile'] == "07888364455" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-1">07888364455</label>
                <!--<span class="nhsuk-hint nhsuk-radios__hint">This is one of the mobile numbers currently in your NHS contact details</span>-->
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-2" name="patient-mobile" type="radio" value="07111222333" {% if data['patient-mobile'] == "07111222333" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-2">07111222333</label>
                <!--<span class="nhsuk-hint nhsuk-radios__hint">This is one of the mobile numbers currently in your NHS contact details</span>-->
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-3" name="patient-mobile" type="radio" value="07333222111" {% if data['patient-mobile'] == "07333222111" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-3">07333222111</label>
                <!--<span class="nhsuk-hint nhsuk-radios__hint">This is one of the mobile numbers currently in your NHS contact details</span>-->
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-4" name="patient-mobile" type="radio" value="07736251423" {% if data['patient-mobile'] == "07736251423" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-4">07736251423</label>
                <!--<span class="nhsuk-hint nhsuk-radios__hint">You provided this mobile number when you set up your NHS login</span>-->
              </div>
            </div>

          </fieldset>

        </div>

        {% endif %}

        {% if (data['scenario'] == "2") or (data['scenario'] == "3") %}

        <div class="nhsuk-form-group">

          <h1 class="nhsuk-heading-xl nhsuk-u-margin-bottom-4">We do not have a contact mobile number for you</h1>

          <fieldset class="nhsuk-fieldset">
            
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
              <h1 class="nhsuk-fieldset__heading">Would you like to add 07736251423 to your NHS contact details?</h1>
            </legend>
            
            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-1" name="patient-mobile" type="radio" value="07736251423" {% if data['patient-mobile'] == "07736251423" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-1">Yes</label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-2" name="patient-mobile" type="radio" value="" {% if data['patient-mobile'] == "" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-2">No</label>
              </div>
            </div>

          </fieldset>

        </div>

        {% endif %}

        <!--<div class="nhsuk-inset-text">
          <span class="nhsuk-u-visually-hidden">Information: </span>
          <p>When an NHS service needs to contact you, they will still choose a contact method (phone call, text message, email, letter) which is appropriate to the situation.</p>
        </div>-->

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" type="submit">Continue</button>
        </div>

        <div class="nhsuk-form-group">
          <p><a href="prompt-complete-no-update">Cancel and take me to the NHS App</a></p>
        </div>

      </form>

    </div> 

  </div>
{% endblock %}