{% extends 'layouts/layout-nhslogin.html' %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l nhsuk-u-margin-bottom-6">The contact details on your NHS record have been updated</h1>

      <h2 class="nhsuk-heading-m">Important</h2>
      <!--<p>Some NHS services, such as your GP surgery, may not use your chosen contact details until they have confirmed them with you.</p>-->

      <p>Some NHS services, such as your GP surgery, have their own records.</p>
      <p>They may want to check your chosen contact details with you, before updating their records.</p>

      <!--<div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">Important</h3>
        <p>Your GP surgery may not use your new contact details until they have confirmed them with you.</p>
      </div>-->

      <div class="nhsuk-form-group">
        <a href="../app" class="nhsuk-button nhsuk-u-margin-bottom-0">OK, I understand</a>
      </div>

    </div> 

  </div>
{% endblock %}