{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  Your email address has been changed
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        This link does not work
      </h1>

      <p>This could be because:</p>
        <ul>
          <li>you copied or typed the link from the email and made a mistake</li>
          <li>a technical error occured</li>
        </ul>
      <p>You can try again by selecting the link in the email.</p>
    </div>

  </div>
{% endblock %}
