{% extends 'layouts/layout-manage-v7.html' %}

{% block pageTitle %}
  Enter the security code
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <h1 class="nhsuk-fieldset__heading">Check your phone</h1>
      </legend>

      <p class="nhsuk-body-m">Enter the 6 digit security code we've sent to <b>{{ data['new-number']}}</b></p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="phone-code">Security code</label>
        <input class="nhsuk-input nhsuk-input--width-10" id="phone-code" name="phone-code-10" type="number">
      </div>

      <div class="nhsuk-form-group">
        <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="phone-number-done">Continue</a>
      </div>

      <div class="nhsuk-form-group">
        {{ backLink({
          "href": "../index",
          "text": "I don't want to change my phone number",
          "classes": "nhsuk-u-margin-top-7"
        }) }}
      </div>

    </div>

  </div>
{% endblock %}
