{% extends 'layouts/layout-manage-v7.html' %}

{% block pageTitle %}
  Enter your password to change your phone number
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        <span class="nhsuk-hint nhsuk-u-margin-bottom-2">Change phone number</span>
        <h1 class="nhsuk-fieldset__heading">Enter your password</h1>
      </legend>

      <p class="nhsuk-body-m">We need to make sure it's you before you can change your phone number.</p>

      <div class="nhsuk-form-group">
        <label class="nhsuk-label" for="current-password">Current password</label>
        <input class="nhsuk-input nhsuk-input--width-20" id="current-password" name="current-password" type="password">
      </div>

      <div class="nhsuk-form-group">
        <a href="phone-change-number" class="nhsuk-button nhsuk-u-margin-bottom-0">Continue</a>
      </div>

      <div class="nhsuk-form-group">
        {{ backLink({
          "href": "../index",
          "text": "I do not want to change my phone number",
          "classes": "nhsuk-u-margin-top-7"
        }) }}
      </div>

    </div>

  </div>
{% endblock %}
