{% extends 'layouts/layout-manage-v10.html' %}

{% block pageTitle %}
  Remove email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
        
      <h1 class="nhsuk-heading-l">{{ data['patient-email'] }} is still being used for your NHS login</h1>

      <p>Go to your login details if you need to change it.</p>

      <a class="nhsuk-button" href="../manage-login?patient-email=">Go to login details</a>
      
      <p><a href="../index?patient-email=">I do not want to change my login email address</a></p>

    </div>

  </div>
{% endblock %}
