{% extends 'layouts/layout-manage-v10.html' %}

{% block pageTitle %}
  Your email address has been removed
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Your email address has been removed</h1>

      <div class="nhsuk-inset-text">
        <p>It may take up to X hours before this change is updated across the NHS.</p>
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" href="../index">Continue</a>

    </div> 

  </div>
{% endblock %}