{% extends 'layouts/layout-manage-v10.html' %}

{% block pageTitle %}
  Your phone number has been added
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">{{ data['old-email'] }} is still being used for your NHS login</h1>

      <p>Go to your login details if you need to change it.</p>

      <a class="nhsuk-button" href="../manage-login">Go to login details</a>
      
      <p><a href="../index">I don't want to change my login email address</a></p>

    </div> 

  </div>
{% endblock %}