{% extends 'layouts/layout-manage-v10.html' %}

{% block pageTitle %}
Remove an email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
        
        <h1 class="nhsuk-heading-l">
          Are you sure you want to remove {{ data['patient-email-2'] }}?
        </h1>
  
        <a href="../index" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-4">No</a>
        
        <a href="email-remove-done?patient-email-2=" class="nhsuk-button nhsuk-button-red">Yes, I'm sure</a>
        
    </div>

  </div>
{% endblock %}
