{% if data['mobileMode'] %}
  {% extends 'layouts/layout-app-new.html' %}
{% else %}
  {% extends 'layouts/layout-manage-v11.html' %}
{% endif %}

{% block pageTitle %}
Change your login phone number
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Your phone number has been added to your NHS contact details</h1>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" href="../manage-login?patient-mobile={{data['login-mobile']}}">Continue</a>

    </div> 

  </div>
{% endblock %}