{% extends 'layouts/layout-manage-v7.html' %}

{% block pageTitle %}
  Enter your password to change your email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-fieldset__legend--l">
        Are you sure you want to remove {{ data['device'] }}?
      </h1>

      <!--<p class="nhsuk-body-m">It will mean you will need to enter a security code that we send to your phone any time you use NHS login on this device.</p>-->

      <a href="./manage-login" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-4">
        No
      </a>
      
      <a class="nhsuk-button nhsuk-button-red" type="submit" href="device-removed">
        Yes, I'm sure
      </a>

    </div>

  </div>
{% endblock %}
