{% extends 'layouts/layout-manage-v10.html' %}

{% block pageTitle %}
  Your login details
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-xl">Your NHS login details</h1>
      <p class="nhsuk-body-m">These are the details that allow you to log in to NHS services and other online services.</p>

      <div class="nhsuk-table-responsive user-info-table">
        <table class="nhsuk-table align-top">
          <caption class="nhsuk-table__caption">Manage your NHS login details</caption>

          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header nhsuk-u-width-one-third"></th>
              <th class="nhsuk-table__header nhsuk-u-width-one-third"></th>
              <th class="nhsuk-table__header"></th>
            </tr>
          </thead>

          <tbody class="nhsuk-table__body">
            
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left">
                <b>Email address</b>
              </td>
              <td class="nhsuk-table__cell cell-left">
                {% if data['login-email'] %}
                  {% set loginEmail = data['login-email'] %}
                {% else %}
                  {% set loginEmail = 'jonkingston@gmail.com' %}
                {% endif %}
                {{loginEmail}}
              </td>
              <td class="nhsuk-table__cell cell-right">
                <a href="login/email-change">Change email address</a>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left">
                <b>Mobile phone</b><br />
                <span class="nhsuk-hint">The phone you use to receive security codes</span>
              </td>
              <td class="nhsuk-table__cell cell-left">
                {% if data['login-mobile'] %}
                  {% set loginMobile = data['login-mobile'] %}
                {% else %}
                  {% set loginMobile = '07736251423' %}
                {% endif %}
                &bull;&bull;&bull;&bull;&bull;&bull;&bull;{{loginMobile.slice(7)}}
              </td>
              <td class="nhsuk-table__cell cell-right">
                <a href="login/phone-change">Change mobile phone</a>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left" style="vertical-align: top;">
                <b>Password</b>
              </td>
              <td class="nhsuk-table__cell cell-left">
                &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
              </td>
              <td class="nhsuk-table__cell cell-right">
                <a href="password/password-change">Change password</a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>

      <h3 class="nhsuk-heading-l">Delete your NHS login</h3>
      <p>Deleting your NHS login will not delete your NHS contact details.</p>
      <p>When you delete your NHS login you will no longer be able to use it to access any services.</p>
      <p class="nhsuk-u-margin-top-4">
        <a href="delete/delete-login" class="nhsuk-button nhsuk-button--secondary">
          Start<span class="nhsuk-u-visually-hidden"> to delete your account</span>
        </a>
      </p>

      {% if data['devMode'] %}
        {% include "includes/test-urls.html" %}
      {% endif %}

    </div>

  </div>

{% endblock %}