<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- Page title goes here -->
      <h1>
        Manage your NHS login
      </h1>

      <h2>Scenarios</h2>
      <ul>
        <li><a href="index?devMode=&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=&patient-landline=&patient-mobile-verified=&login-email=jonkingston@gmail.com&login-mobile=07736251423">Patient only has an address</a></li>
        <li><a href="index?devMode=&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=07788995544&patient-landline=&patient-mobile-verified=&login-email=jonkingston@gmail.com&login-mobile=07736251423">Patient has an address and an unverified phone number</a></li>
        <li><a href="index?devMode=&patient-email=jonkingston@gmail.com&patient-email-2=&patient-mobile=&patient-mobile-2=&patient-landline=&patient-mobile-verified=&login-email=jonkingston@gmail.com&login-mobile=07736251423">Patient has email address</a></li>
        <li><a href="index?devMode=&patient-email=jonkingston@gmail.com&patient-email-2=&patient-mobile=07736251423&patient-mobile-2=&patient-landline=&patient-mobile-verified=&login-email=jonkingston@gmail.com&login-mobile=07736251423">Patient has email address & phone</a></li>
        <li><a href="index?devMode=&patient-email=jonkingston@gmail.com&patient-email-2=myOldEmail@hotmail.co.uk&patient-mobile=07736251423&patient-mobile-2=07766554433&patient-landline=01134567890&patient-mobile-verified=&login-email=jonkingston@gmail.com&login-mobile=07736251423">Patient has 2 email addresses and 3 phone numbers</a></li>
        <li><a href="./add-patient-details">Add patient details</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
