{% extends 'layouts/layout-manage.html' %}

{% block pageTitle %}
  Your email address has been changed
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-fieldset__legend--l">
          This link does not work
      </h1>
      <p>This may be because:</p>
        <ul>
            <li>you've already confirmed your email address</li>
            <li>it's been more than 1 hour so you'll have to start again</li>
        </ul>
    </div>

  </div>
{% endblock %}
