{% extends 'layouts/layout-manage-v9.html' %}

{% block pageTitle %}
  Your login details
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-xl">Your login details</h1>
      <p class="nhsuk-body-m">You can change your email address, password and phone number.</p>

      <div class="nhsuk-table-responsive user-info-table">
        <table class="nhsuk-table align-top">
          <caption class="nhsuk-table__caption">Manage your NHS login details</caption>

          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header nhsuk-u-width-one-third"></th>
              <th class="nhsuk-table__header nhsuk-u-width-one-third"></th>
              <th class="nhsuk-table__header"></th>
            </tr>
          </thead>

          <tbody class="nhsuk-table__body">
            
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left">
                <b>Email address</b>
              </td>
              {% if data['patient-email'] %}
              <td class="nhsuk-table__cell cell-left">{{ data['patient-email'] }}</td>
              {% else %}
              <td class="nhsuk-table__cell cell-left">jonkingston@gmail.com</td>
              {% endif %}
              </td>
              <td class="nhsuk-table__cell cell-right">
                <a href="email/email-change" class="nhsuk-button nhsuk-button--secondary">Change<span class="nhsuk-u-visually-hidden"> email address</span></a>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left">
                <b>Mobile phone</b><br />
                <span class="nhsuk-hint">The phone you use to receive security codes</span>
              </td>
              {% if data['patient-mobile'] %}
              <td class="nhsuk-table__cell cell-left">{{ data['patient-mobile'] }}</td>
              {% else %}
              <td class="nhsuk-table__cell cell-left">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;423</td>
              {% endif %}
              </td>
              </td>
              <td class="nhsuk-table__cell cell-right">
                <a href="phone/phone-change" class="nhsuk-button nhsuk-button--secondary">Change<span class="nhsuk-u-visually-hidden"> mobile phone</span></a>
              </td>
            </tr>

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left" style="vertical-align: top;">
                <b>Password</b>
              </td>
              <td class="nhsuk-table__cell cell-left">
                &bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;
              </td>
              <td class="nhsuk-table__cell cell-right">
                <a href="password/password-change" class="nhsuk-button nhsuk-button--secondary">Change<span class="nhsuk-u-visually-hidden"> password</span></a>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>

    <h3 class="nhsuk-heading-l">Delete your NHS login</h3>
    <p>Deleting your NHS login won't delete your contact details.</p>
    <p>When you delete your NHS login you will no longer be able to use it to access any services.</p>
    <p class="nhsuk-u-margin-top-4"><a href="delete/delete-login" class="nhsuk-button nhsuk-button--secondary">Start<span class="nhsuk-u-visually-hidden"> to delete your account</span></a></p>

    {% if data['devMode'] %}

    <details class="nhsuk-details dev-mode" role="group">
      <summary class="nhsuk-details__summary" role="button" aria-controls="details-content-0" aria-expanded="true">
        <span class="nhsuk-details__summary-text">
          Testing scenarios
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <ul>
          <li><a href="{{ params }}?devMode=y&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=&patient-mobile-unverified=">Patient only has an address</a></li>
          <li><a href="{{ params }}?devMode=y&patient-email=jonkingston@gmail.com&patient-email-2=&patient-mobile=&patient-mobile-2=&patient-mobile-unverified=">Patient has email address</a></li>
          <li><a href="{{ params }}?devMode=y&patient-email=jonkingston@gmail.com&patient-email-2=&patient-mobile=07736251423&patient-mobile-2=&patient-mobile-unverified=">Patient has email address & phone</a></li>
          <li><a href="{{ params }}?devMode=y&patient-email=jonkingston@gmail.com&patient-email-2=jonnyk123@hotmail.co.uk&patient-mobile=07736251423&patient-mobile-2=07766554433&patient-mobile-unverified=">Patient has 2 email addresses and 2 phone numbers</a></li>
          <li><a href="{{ params }}?devMode=y&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=&patient-mobile-unverified=07788995544">Patient has an address and an unverified phone number</a></li>
        </ul>
      </div>
    </details>

    {% endif %}

    </div>

  </div>

{% endblock %}