{% extends 'layouts/layout-manage-v10.html' %}

{% block pageTitle %}
  Your email address has been changed
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-fieldset__legend--l">
          There is a problem with the code you entered
      </h1>
      <p>This may be because:</p>
        <ul>
            <li>you entered the wrong code</li>
            <li>the code expired</li>
        </ul>
      <p>Please go back and <a href="./phone-change-number">enter your new number to try again</a></p>
    </div>

  </div>
{% endblock %}
