{% extends 'layouts/layout-manage-v11.html' %}

{% block pageTitle %}
Add an email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Your email address has been added</h1>

      <div class="nhsuk-inset-text">
        <p>Some NHS services may not see this email address until their systems update.</p>
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" href="../index">Continue</a>

    </div> 

  </div>
{% endblock %}