{% extends 'layouts/layout-manage-v11.html' %}

{% block pageTitle %}
Add an email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Check your email inbox</h1>

      <p>Check <b>{{ data['patient-email-2'] }}</b> for an <a href="email-add-confirm">email</a> from the NHS. Use the link in the email to verify it.</p>
      <p>If you have not received an email, check your spam folder.</p>

      {{ backLink({
        "href": "../index",
        "text": "Back to your contact details",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
