{% extends 'layouts/layout-manage.html' %}

{% block pageTitle %}
  Enter your password to change your phone number
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
          Enter your password to change your phone number
      </h1>

      <div class="nhsuk-form-group">
        <input class="nhsuk-input nhsuk-input--width-10" id="current-password" name="test-width-10" type="text">
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="/v1/phone-change-number">
        Continue
      </a>

      {{ backLink({
        "href": "/v1/index",
        "text": "I do not want to change my phone number",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
