{% extends 'layouts/layout-manage-v7.html' %}

{% block pageTitle %}
  Choose a use
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">


      {% if data['other-type'] == 'landline' %}
      <form action="other-enter-landline" method="POST">
      {% endif %}

      {% if data['other-type'] == 'mobile' %}
      <form action="other-enter-mobile" method="POST">
      {% endif %}

      {% if data['other-type'] == 'address' %}
      <form action="other-enter-address" method="POST">
      {% endif %}

      {% if data['other-type'] == 'email' %}
      <form action="other-enter-email" method="POST">
      {% endif %}
        
        <div class="nhsuk-form-group">
          {{ radios({
            "name": "other-use",
            "fieldset": {
              "legend": {
                "text": "Choose how you'd like the NHS to use this contact detail",
                "classes": "nhsuk-fieldset__legend--l",
                "isPageHeading": true
              }
            },
            "items": [
              {
                "value": "home",
                "text": "To contact me at home"
              },
              {
                "value": "work",
                "text": "To contact me at work"
              },
              {
                "value": "emergency",
                "text": "To contact me in an emergency"
              },
              {
                "value": "temp",
                "text": "To contact me on holiday"
              }
            ]
          }) }}
        </div>

        <div class="nhsuk-form-group">
          <a href="other-enter-{{ data['other-type']}}" class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-bottom-0">Skip this step</a>
          <button type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0 nhsuk-u-margin-left-4">Continue</button>
        </div>

        <div class="nhsuk-form-group">
          {{ backLink({
            "href": "other-type",
            "text": "Back to choose a type",
            "classes": "nhsuk-u-margin-top-7"
          }) }}
        </div>
          
      </form>

    </div>

  </div>
{% endblock %}
