{% extends 'layouts/layout-app-nhslogin.html' %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <form action="prompt-email" method="POST">

        {% if (data['scenario'] == "1") or (data['scenario'] == "4") %}
      
        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">Which mobile number should the NHS use to contact you?</h1>
              <!--<h1 class="nhsuk-fieldset__heading">Choose your contact mobile number</h1>-->
            </legend>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-2" name="patient-mobile" type="radio" value="07888364455" {% if data['patient-mobile'] == "07888364455" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-2">07888364455</label>
                <span class="nhsuk-hint nhsuk-radios__hint">This is your current mobile number</span>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-1" name="patient-mobile" type="radio" value="07736251423" {% if data['patient-mobile'] == "07736251423" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-1">07736251423</label>
                <span class="nhsuk-hint nhsuk-radios__hint">You use this mobile number for your NHS login</span>
              </div>
              <!--<div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-both" name="patient-mobile" type="radio" value="both" {% if data['patient-mobile'] == "both" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-both">Both</label>
                <span class="nhsuk-hint nhsuk-radios__hint">We will add both mobile numbers to your contact details</span>
              </div>-->
            </div>

          </fieldset>

        </div>

        {% endif %}

        {% if (data['scenario'] == "2") or (data['scenario'] == "3") %}

        <div class="nhsuk-form-group">

          <fieldset class="nhsuk-fieldset">
            
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">Can the NHS use this mobile number to contact you if appropriate?</h1>
              <p class="nhsuk-body-l nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-4">07736251423</p>
            </legend>

            <div class="nhsuk-radios">
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-1" name="patient-mobile" type="radio" value="07736251423" {% if data['patient-mobile'] == "07736251423" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-1">Yes</label>
              </div>
              <div class="nhsuk-radios__item">
                <input class="nhsuk-radios__input" id="patient-mobile-2" name="patient-mobile" type="radio" value="" {% if data['patient-mobile'] == "" %}checked{% endif %}>
                <label class="nhsuk-label nhsuk-radios__label" for="patient-mobile-2">No</label>
              </div>
            </div>

          </fieldset>

        </div>

        {% endif %}

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" type="submit">Continue</button>
        </div>

        <div class="nhsuk-form-group">
          <p><a href="prompt-complete-no-update">Cancel and take me to the NHS App</a></p>
        </div>

      </form>

    </div> 

  </div>
{% endblock %}