{% extends 'layouts/layout-app-nhslogin.html' %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <div class="nhsuk-u-margin-bottom-6">
        <h1 class="nhsuk-heading-l">Check your contact details</h1>
      </div>

      <div class="nhsuk-form-group nhsuk-u-padding-4" style="background-color: #fff;">
          <p><strong>Your primary mobile number</strong></p>
          <p>{{ data['patient-mobile'] }}</p>
      </div>

      <div class="nhsuk-form-group nhsuk-u-padding-4" style="background-color: #fff;">
        <p><strong>Your primary email address</strong></p>
        <p>{{ data['patient-email'] }}</p>
      </div>

      <form action="prompt-4-choice" method="POST">
        <div class="nhsuk-form-group">
          <div class="nhsuk-radios">
            <h2 class="nhsuk-heading-m">Are your details correct?</h2>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="prompt-4-1" name="prompt-4" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="prompt-4-1">
                Yes
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="prompt-4-2" name="prompt-4" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="prompt-4-2">
                No - I need to change them
              </label>
            </div>
          </div>
        </div>
        <div class="nhsuk-form-group">
          <button type="submit" class="nhsuk-button">Continue</button>
        </div>
      </form>

    </div>

  </div>
{% endblock %}