{% extends 'layouts/layout-nhslogin.html' %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Are you sure you do not want to update your NHS contact details?</h1>  

      <a href="#" onclick="history.back();" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-right-4">No, go back</a>
      
      <a href="../app?mobileMode=y&devMode=&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=07888364455&patient-landline=&patient-mobile-verified=&login-email=paulsmith@hotmail.com&login-mobile=07736251423" class="nhsuk-button">Yes</a>

      <!--<h1 class="nhsuk-heading-l">Your NHS contact details have not been updated</h1>

      <div class="nhsuk-form-group">
        <a href="../app" class="nhsuk-button nhsuk-u-margin-bottom-0">Continue to the NHS App</a>
      </div>-->

    </div> 

  </div>
{% endblock %}