{% extends 'layouts/layout-app-nhslogin.html' %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Your NHS contact details have been updated</h1>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">Important</h3>
        <p>Your GP surgery may not use your new contact details until they have confirmed them with you.</p>
      </div>

      <div class="nhsuk-form-group">
        <a href="../app" class="nhsuk-button nhsuk-u-margin-bottom-0">Continue to the NHS App</a>
      </div>

    </div> 

  </div>
{% endblock %}