{% extends 'layouts/layout-app-nhslogin.html' %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">There is a technical problem</h1>

      <p>We were not able to get your NHS record information.</p>

      <div class="nhsuk-form-group">
        <p><a href="#">Try again</a></p>
      </div>

      <div class="nhsuk-form-group">
        <a href="../app" class="nhsuk-button nhsuk-u-margin-bottom-0">Continue to the NHS App</a>
      </div>

    </div> 

  </div>
{% endblock %}