{% extends 'layouts/layout-nhslogin.html' %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Check your contact details before you save</h1>

      <dl class="nhsuk-summary-list">

        {% if data['scenario'] != "5" %}

          {% if data['patient-mobile'] == "both" %}

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Your preferred mobile numbers
              </dt>
              <dd class="nhsuk-summary-list__value">
                  <p class="nhsuk-u-margin-bottom-0">07888364455</p>
                  <p class="nhsuk-u-margin-bottom-0">07736251423</p>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="prompt-mobile">
                  Change<span class="nhsuk-u-visually-hidden"> mobile number</span>
                </a>
              </dd>
            </div>

          {% else %}

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Your preferred mobile number
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if data['patient-mobile'] %}
                  <p class="nhsuk-u-margin-bottom-0">{{ data['patient-mobile'] }}</p>
                {% else %}
                  <p class="nhsuk-u-margin-bottom-0">You do not have a mobile number</p>
                {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="prompt-mobile">
                  Change<span class="nhsuk-u-visually-hidden"> mobile number</span>
                </a>
              </dd>
            </div>

          {% endif %}

        {% endif %}

        {% if data['scenario'] != "6" %}

          {% if data['patient-email'] == "both" %}

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Your preferred email addresses
              </dt>
              <dd class="nhsuk-summary-list__value">
                  <p class="nhsuk-u-margin-bottom-0">mynameispaul123@gmail.com</p>
                  <p class="nhsuk-u-margin-bottom-0">paulsmith@hotmail.com</p>
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="prompt-email">
                  Change<span class="nhsuk-u-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>

          {% else %}
        
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Your preferred email address
              </dt>
              <dd class="nhsuk-summary-list__value">
                {% if data['patient-email'] %}
                  <p class="nhsuk-u-margin-bottom-0">{{ data['patient-email'] }}</p>
                {% else %}
                  <p class="nhsuk-u-margin-bottom-0">You do not have an email address</p>
                {% endif %}
              </dd>
              <dd class="nhsuk-summary-list__actions">
                <a href="prompt-email">
                  Change<span class="nhsuk-u-visually-hidden"> email address</span>
                </a>
              </dd>
            </div>

          {% endif %}

        {% endif %}

      </dl>

      <div class="nhsuk-form-group">
        <a href="prompt-complete" class="nhsuk-button">Save and continue</a>
      </div>

      <div class="nhsuk-form-group">
        <p><a href="prompt-complete-no-update">Cancel and take me to [SERVICE NAME]</a></p>
      </div>

    </div> 

  </div>
{% endblock %}