{% if data['mobileMode'] %}
  {% extends 'layouts/layout-app-new.html' %}
{% else %}
  {% extends 'layouts/layout-manage-v12.html' %}
{% endif %}

{% block pageTitle %}
Remove an email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
      
      <h1 class="nhsuk-heading-l">We are removing {{ data['patient-email'] }} from your NHS contact details</h1>

      <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
        <p>Some NHS services may continue to use this email address to contact you until their systems update.</p>
      </div>

      <a class="nhsuk-button" href="email-remove-login-2">Continue</a>

    </div>

  </div>
{% endblock %}
