{% extends 'layouts/layout-manage-v7.html' %}

{% block pageTitle %}
  Delete your NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
          Enter your password
      </h1>

      <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="phone-code">
              Password
            </label>
        <input class="nhsuk-input nhsuk-input--width-20" id="current-password" name="test-width-10" type="text">
      </div>

      <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">When you delete your NHS login</h3>
          <p>You will lose access to:</p>
          <ul>
            <li>The NHS App</li>
            <li>eRedbook child health services</li>
          </ul>
          <p>These services may keep some information about you.</p>
      </div>
      
      <a class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0" type="submit" href="delete-login-password">
        Continue
      </a>

      {{ backLink({
        "href": "../manage-login",
        "text": "I do not want to delete my NHS login",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
