{% extends 'layouts/layout-manage.html' %}

{% block pageTitle %}
  Enter your new email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
          Enter your new email address
      </h1>

      <p>We'll email you a code that you'll need to enter.</p>

      <div class="nhsuk-form-group">
        <input class="nhsuk-input nhsuk-input--width-20" id="new-email address" name="test-width-10" type="email">
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="/v1/email-code">
        Continue
      </a>

      {{ backLink({
        "href": "/v1/index",
        "text": "I do not want to change my email address",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
