{% extends 'layouts/layout-nhsprofile-fester.html' %}

{% block pageTitle %}
  Manage your NHS login
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/nhs-profile-fester/settings/index",
    text: "Manage your NHS login"
  }) }}
{% endblock %}

{% block content %}

  <style>

  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  figure {
    margin: 0;
    width: 45px;
    height: 45px;
  }

  figure img {
    width: 100%;
    height: auto;
  }

  img {
    display:block;
    border-radius: 50%;
  }

  </style>

      

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        People you care for
      </h1>


      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col"></th>
              <th class="nhsuk-table__header" scope="col">Name</th>
              <th class="nhsuk-table__header" scope="col">Relationship</th>
              <th class="nhsuk-table__header" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <figure>
                  <img src="/images/avatar-fester.png" alt="Morticia Addams">
                </figure>
              </td>
              <td class="nhsuk-table__cell"><a href="#">Morticia Addams</a></td>
              <td class="nhsuk-table__cell ">Sister-in-law</td>
              <td class="nhsuk-table__cell"><a href="#">Delete</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell">
                <figure>
                  <img src="/images/avatar-gomez.png" alt="Gomez Addams">
                </figure>
              </td>
              <td class="nhsuk-table__cell"><a href="#">Gomez Addams</a></td>
              <td class="nhsuk-table__cell ">Brother</td>
              <td class="nhsuk-table__cell"><a href="#">Delete</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <a class="nhsuk-button nhsuk-u-margin-bottom-0" type="submit" href="profile-add">
        Add someone you care for
      </a>

    </div>
  </div>
{% endblock %}
