{% extends 'layouts/layout-app-3rdparty.html' %}

{% block pageTitle %}
  Your contact details
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-xl">Your NHS contact details</h1>

      <!--<div class="nhsuk-u-margin-bottom-4">
        <div class="account-name-link-2">
          <h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Paul Samuel Smith</h2>
          <span class="nhsuk-hint">
            NHS number: 999 000 8888
          </span>
        </div>
      </div>-->

      <div class="nhsuk-u-margin-bottom-6">
        <p>These are the contact details used by NHS services such as your GP surgery, hospital or pharmacy to get in touch with you.</p>
        <p>You can add new details and remove old ones to keep them up to date.</p>
      </div>
      
      <div class="nhsuk-table-responsive nhsuk-u-padding-4" style="background-color: #fff;">

        <h3 class="nhsuk-heading-m">Your address</h3>

        <table class="nhsuk-table align-top table-contact">
          <tbody class="nhsuk-table__body">

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left">
                  10 Long Lane<br />
                  Leeds<br />
                  West Yorkshire<br />
                  LS11 2AB
              </td>
              <td class="nhsuk-table__cell">
                <p><a href="address/address-change">How to change your address</a></p>
              </td>
            </tr>

          </tbody>
        </table>

      </div>


      <div class="nhsuk-table-responsive nhsuk-u-padding-4" style="background-color: #fff;">

        <h3 class="nhsuk-heading-m">Your phone numbers</h3>

        <table class="nhsuk-table align-top table-contact">
          <tbody class="nhsuk-table__body">

            {% if data['patient-mobile'] == "" and data['patient-mobile-2'] == "" and data['patient-landline'] == "" %}
            <p class="nhsuk-hint nhsuk-u-margin-bottom-0">You have no contact phone numbers.</p>
            {% endif %}

            {% if data['patient-mobile'] %}

              {% if data['patient-mobile-removed'] %}

              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell cell-left">

                  <del>{{ data['patient-mobile'] }}</del>

                  <span class="nhsuk-body-s" style="color: #4c6272;">We are removing this phone number, <a href="service-info">find out what this means</a>.</span>

                </td>
                <td class="nhsuk-table__cell"></td>
              </tr>
              
              {% else %}
            
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell cell-left">

                  {{ data['patient-mobile'] }}

                  <b class="nhsuk-body-s nhsuk-u-margin-bottom-0" style="color:#007f3b;">Verified</b>

                </td>
                <td class="nhsuk-table__cell">
                  <p><a href="phone/phone-remove-1">Remove phone number</a></p>
                </td>
              </tr>

              {% endif %}

            {% endif %}

            {% if data['patient-mobile-2'] %}

              {% if data['patient-mobile-2-removed'] %}

                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell cell-left">

                    <del>{{ data['patient-mobile-2'] }}</del>

                    <span class="nhsuk-body-s" style="color: #4c6272;">We are removing this phone number, <a href="service-info">find out what this means</a>.</span>

                  </td>
                  <td class="nhsuk-table__cell"></td>
                </tr>
                
                {% else %}

                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell cell-left">

                    {{data['patient-mobile-2']}}

                    {% if data['patient-mobile-verified'] %}
                    <b class="nhsuk-body-s nhsuk-u-margin-bottom-0" style="color:#007f3b;">Verified</b>
                    {% else %}
                    <b class="nhsuk-body-s nhsuk-u-margin-bottom-0" style="color:#d5281b;">Unverified</b>
                    {% endif %}
                  </td>
                  <td class="nhsuk-table__cell">
                    {% if data['patient-mobile-verified'] %}{% else %}
                    <p class="nhsuk-u-margin-bottom-2"><a href="phone/phone-verify">Verify phone number</a></p>
                    {% endif %}
                    <p><a href="phone/phone-remove-2">Remove phone number</a></p>
                  </td>
                </tr>

              {% endif %}

            {% endif %}

            {% if data['patient-landline'] %}

              {% if data['patient-landline-removed'] %}

                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell cell-left">

                    <del>{{ data['patient-landline'] }}</del>

                    <span class="nhsuk-body-s" style="color: #4c6272;">We are removing this phone number, <a href="service-info">find out what this means</a>.</span>

                  </td>
                  <td class="nhsuk-table__cell"></td>
                </tr>
                
                {% else %}

                <tr class="nhsuk-table__row">
                  <td class="nhsuk-table__cell cell-left">

                    {{data['patient-landline']}}

                  </td>
                  <td class="nhsuk-table__cell">
                    <p><a href="phone/phone-remove-3">Remove phone number</a></p>
                  </td>
                </tr>

              {% endif %}

            {% endif %}

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left" colspan="2">

                {% if data['has-added-login-phone'] %}
                <a href="phone/phone-add">
                  <svg style="margin-bottom: -11px;" class="nhsuk-icon nhsuk-icon__plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" aria-hidden="true">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M12 8v8M8 12h8"></path>
                  </svg>
                  Add a phone number
                </a>
                {% else %}
                <a href="phone/phone-add-login">
                  <svg style="margin-bottom: -11px;" class="nhsuk-icon nhsuk-icon__plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" aria-hidden="true">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M12 8v8M8 12h8"></path>
                  </svg>
                  Add a phone number
                </a>
                {% endif %}
                
              </td>
            </tr>

          </tbody>
        </table>

      </div>
      


      <div class="nhsuk-table-responsive nhsuk-u-padding-4" style="background-color: #fff;">

        <h3 class="nhsuk-heading-m">Your email addresses</h3>

        <table class="nhsuk-table align-top table-contact">
          <tbody class="nhsuk-table__body">

            {% if data['patient-email'] == "" and data['patient-email-2'] == "" %}
            <p class="nhsuk-hint nhsuk-u-margin-bottom-0">You have no contact email addresses.</p>
            {% endif %}

            {% if data['patient-email'] %}

              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell cell-left">

                  {{ data['patient-email']}}

                  <b class="nhsuk-body-s" style="color:#007f3b;">Verified</b>
                </td>
                </td>
                <td class="nhsuk-table__cell">
                  <p><a href="email/email-remove-1">Remove email address</a></p>
                </td>
              </tr>

            {% endif %}

            {% if data['patient-email-2'] %}

              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell cell-left">

                  {{ data['patient-email-2']}}

                  <b class="nhsuk-body-s" style="color:#007f3b;">Verified</b>

                </td>
                </td>
                <td class="nhsuk-table__cell">
                  <p><a href="email/email-remove-2">Remove email address</a></p>
                </td>
              </tr>

            {% endif %}

            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left" colspan="2">

                {% if data['has-added-login-email'] %}
                <a href="email/email-add">
                  <svg style="margin-bottom: -11px;" class="nhsuk-icon nhsuk-icon__plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" aria-hidden="true">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M12 8v8M8 12h8"></path>
                  </svg>
                  Add an email address
                </a>
                {% else %}
                <a href="email/email-add-login">
                  <svg style="margin-bottom: -11px;" class="nhsuk-icon nhsuk-icon__plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" aria-hidden="true">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path fill="none" stroke="#fff" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M12 8v8M8 12h8"></path>
                  </svg>
                  Add an email address
                </a>
                {% endif %}

              </td>
            </tr>
            
          </tbody>
        </table>
        
      </div>

      {% if data['devMode'] %}
        {% include "includes/test-urls.html" %}
      {% endif %}

    </div>

  </div>

{% endblock %}