{% if data['mobileMode'] %}
  {% extends 'layouts/layout-app-new.html' %}
{% else %}
  {% extends 'layouts/layout-manage-v11.html' %}
{% endif %}

{% block pageTitle %}
Enter your password
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
  
      <form action="index?password-check=y" method="post">

          <h1 class="nhsuk-heading-l">Enter your password</h1>
          <p>We need to make sure it is you before we show your contact details.</p>

          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="password">Password</label>
            <input class="nhsuk-input nhsuk-input--width-20" id="password" name="password" type="password">
          </div>

          <button class="nhsuk-button">Continue</button>

      </form>

      <div class="nhsuk-back-link">
        <a class="nhsuk-back-link__link" href="#" onclick="window.history.go(-1); return false;">
          <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
          </svg>
          Go back</a>
      </div>
  
    </div>
  
  </div>
{% endblock %}
