{% if data['mobileMode'] %}
  {% extends 'layouts/layout-app-new.html' %}
{% else %}
  {% extends 'layouts/layout-manage-v12.html' %}
{% endif %}

{% block pageTitle %}
  Your contact details
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-xl">What happens when you change contact details</h1>

      <p>When you change your contact details, such as adding or removing a phone number or email address, your main NHS record is updated immediately.</p>
      <p>However, some NHS services such as your GP have their own record for you. This record will only be updated with your new contact details when your GP surgery opens your record on their computer.</p>
      <p>GP surgeries open your record when they need to see your medical information, before an appointment or ...</p>

      <div class="nhsuk-form-group">
        {{ backLink({
          "href": "index",
          "text": "Back to your contact details",
          "classes": "nhsuk-u-margin-top-7"
        }) }}
      </div>
      
      {% if data['devMode'] %}
        {% include "includes/test-urls.html" %}
      {% endif %}

    </div>

  </div>

{% endblock %}