{% extends 'layouts/layout-email.html' %}

{% block pageTitle %}
  Invite to Helm
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <h1 class="nhsuk-fieldset__legend--l">
        You have been invited by Morticia Addams to view her Helm information
      </h1>

      <p>To get access to their information you need to accept the invitation and then sign in with your NHS login. If you do not have an NHS login you will need to set one up.</p>
      <p><a href="/nhs-login/invite/have-login" class="nhsuk-button">Accept invitation</a></p>
      <p>If nothing happens when you click the button, try this link instead. You might need to copy and paste it into an internet browser:</p>
      <p><a href="/nhs-login/invite/have-login">http://login.nhs.uk/invite-to-helm</a></p>
      <p>If you do not know this person you can ignore this email.</p>

    </div>
  </div>

{% endblock %}
