{% extends 'layouts/layout-manage-v11.html' %}

{% block pageTitle %}
  Enter your email address
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <form action="index" method="POST">
        
        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="patient-email">Patient's contact email address</label>
          <input class="nhsuk-input nhsuk-input--width-20" id="patient-email" name="patient-email" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="login-email">Patient's login email address</label>
          <input class="nhsuk-input nhsuk-input--width-20" id="login-email" name="login-email" type="text">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="patient-mobile">Patient's contact mobile phone</label>
          <input class="nhsuk-input nhsuk-input--width-20" id="patient-mobile" name="patient-mobile" type="number">
        </div>

        <div class="nhsuk-form-group">
          <label class="nhsuk-label" for="login-mobile">Patient's login mobile phone</label>
          <input class="nhsuk-input nhsuk-input--width-20" id="login-mobile" name="login-mobile" type="number">
        </div>

        <div class="nhsuk-form-group">
          <button type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0">Add</button>
        </div>
          
      </form>

    </div>

  </div>
{% endblock %}
