{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

        <h1 class="nhsuk-heading-l">Your NHS contact details have been updated</h1>

        <div class="nhsuk-form-group">
          <!--<a href="index" class="nhsuk-button nhsuk-button--secondary nhsuk-u-margin-bottom-0">Manage your contact details</a>-->
          <a href="app" class="nhsuk-button nhsuk-u-margin-bottom-0">Continue to the NHS app</a>
        </div>

    </div> 

  </div>
{% endblock %}