{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-heading-l">Can the NHS use this mobile phone number to contact you?</h1>

      <!-- routes.js -->
      <form action="prompt-2-phone-" method="POST">

        <div class="nhsuk-form-group">
          <div class="nhsuk-radios">

            <p class="nhsuk-body-l">07736251423</p>

            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="prompt-phone-1" name="prompt-phone" type="radio" value="yes">
              <label class="nhsuk-label nhsuk-radios__label" for="prompt-phone-1">
                Yes
              </label>
            </div>
            <div class="nhsuk-radios__item">
              <input class="nhsuk-radios__input" id="prompt-phone-2" name="prompt-phone" type="radio" value="no">
              <label class="nhsuk-label nhsuk-radios__label" for="prompt-phone-2">
                No
              </label>
            </div>
          </div>
        </div>

        <div class="nhsuk-form-group">
          <button class="nhsuk-button" type="submit">Continue</button>
        </div>

      </form>

    </div> 

  </div>
{% endblock %}