{% extends 'layouts/layout-manage-v10.html' %}

{% block pageTitle %}
  Remove phone number
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">
        
        <h1 class="nhsuk-heading-l">We are removing {{ data['patient-mobile'] }} from your contact details</h1>

        <div class="nhsuk-inset-text nhsuk-u-margin-top-0">
          <p>Some NHS services may continue to use this phone number until their systems update.</p>
        </div>

        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">Important</h3>
          <p>This mobile phone number is still being used for your NHS login.</p>
          <p>Go to your login details if you need to change it.</p>
          <a class="nhsuk-button" href="../manage-login?patient-mobile=">Go to login details</a>
        </div>

        <p><a href="../index?patient-mobile=">I don't want to change my login mobile phone number</a></p>

    </div>

  </div>
{% endblock %}
