{% extends 'layouts/layout-nhsprofile-fester.html' %}

{% block pageTitle %}
  You have been logged out everywhere
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    href: "/nhs-profile-fester/settings/index",
    text: "Manage your NHS login"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-fieldset__legend--l">
          You have been logged out everywhere apart from this browser
      </h1>

      {{ backLink({
        "href": "/nhs-profile-fester/settings/index",
        "text": "Back",
        "classes": "nhsuk-u-margin-top-7"
      }) }}

    </div>

  </div>
{% endblock %}
