<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- Page title goes here -->
      <h1>
        Manage your NHS login
      </h1>

      <h2>Prototype links</h2>
      <ul>
        <li>
          Interruption card v5 (latest version):
          <ul>
            <li>
              <a href="/account/v12/prompt-5/index?scenario=1">PDS scenario 1</a><br />
              <i>Phone: doesn't match, email: blank</i>
            </li>
            <li>
              <a href="/account/v12/prompt-5/index?scenario=2">PDS scenario 2</a>
              <br />
              <i>Phone: blank, email: doesn't match</i>
            </li>
            <li>
              <a href="/account/v12/prompt-5/index?scenario=3">PDS scenario 3</a>
              <br />
              <i>Phone: blank, email: blank</i>
            </li>
            <li>
              <a href="/account/v12/prompt-5/index?scenario=4">PDS scenario 4</a>
              <br />
              <i>Phone: doesn't match, email: doesn't match</i>
            </li>
            <li>
              <a href="/account/v12/prompt-5/index?scenario=5&patient-mobile=07736251423">PDS scenario 5</a>
              <br />
              <i>Phone: match, email: blank</i>
            </li>
            <li>
              <a href="/account/v12/prompt-5/index?scenario=6">PDS scenario 6</a>
              <br />
              <i>Phone: doesn't match, email: match</i>
            </li>
            <li>
              <a href="/account/v12/prompt-5/index?scenario=7">PDS scenario 7</a>
              <br />
              <i>Multiple active 'mobile phone' and 'home email' telecoms in PDS</i>
            </li>
          </ul>
        </li>
        <li>
          <a href="/account/v12/prompt-5/prompt-mobile-error?scenario=1">Error - field validation</a>
        </li>
        <li>
          <a href="/account/v12/prompt-5/prompt-error-1">Error - technical issue</a>
        </li>
        <li>
          <a href="/account/v12/index?mobileMode=y&devMode=&patient-email=paulsmith@hotmail.com&patient-email-2=&patient-mobile=07736251423&patient-mobile-2=&patient-landline=01135657577&patient-mobile-verified=&login-email=paulsmith@hotmail.com&login-mobile=07736251423&has-added-login-phone=y&has-added-login-email=y">Manage my NHS contact details</a>
        </li>
      </ul>


      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary index">
          <span class="nhsuk-details__summary-text">
            Versions
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">
          <table>
            <tbody>
              <tr class="row-responsive">
                <th class="cell-left"><strong>Version</strong></th>
                <th><strong>Research</strong></th>
                <th><strong>What was new</strong></th>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v6/index?devMode=true">v6</a></th>
                <td>Research to be planned</td>
                <td>Adding account recovery management</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v7/index?devMode=y">v7</a></th>
                <td>Research to be planned</td>
                <td>A.C - enabling patients to update PDS data independently to NHS login data<br/>
                (Diverging from the 'Account management' work)</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v8/index?devMode=y">v8</a></th>
                <td>Research to be planned</td>
                <td>NHS login credentials as default contact details</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v9/index?devMode=y&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=07788995544&patient-mobile-unverified=">v9</a></th>
                <td>Research to be planned</td>
                <td>Scope reduced to collecting and updating patient phone and email</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v10/index?devMode=y&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=07788995544&patient-landline=&patient-mobile-verified=&login-email=jonkingston@gmail.com&login-mobile=07736251423">v10</a></th>
                <td>Popup research on 02/03/2020 &amp; lab research on 11/03/2020</td>
                <td>Changes following design crit on 20/02/2020</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v11/index?devMode=y&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=07788995544&patient-landline=&patient-mobile-verified=&login-email=jonkingston@gmail.com&login-mobile=07736251423">v11</a></th>
                <td>Remote research on 02/04/2020</td>
                <td>Changes following previous research on 11/03/2020</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v11hc">v11hc</a></th>
                <td>Help centre project</td>
                <td></td>
              </tr>
              <tr>
                <th class="cell-left">
                  V12<br />
                  <a href="/account/v12/index?mobileMode=y&devMode=&patient-email=paulsmith@hotmail.com&patient-email-2=&patient-mobile=07736251423&patient-mobile-2=&patient-landline=01135657577&patient-mobile-verified=&login-email=paulsmith@hotmail.com&login-mobile=07736251423&has-added-login-phone=y&has-added-login-email=y">Manage contact details section</a><br />
                  <a href="/account/v12/prompt-4/index?scenario=4">Interruption card v4</a>
                </th>
                <td>Remote research on 21/05/2020</td>
                <td>Changes following previous research on 02/04/2020</td>
              </tr>
            </tbody>
          </table>
        </div>

      </details>

      <h4>Other ideas</h4>
      <p><a href="/nhs-profile/settings/index">NHS profile</a></p>

    </div>
  </div>
{% endblock %}
