<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- Page title goes here -->
      <h1>
        Manage your NHS login
      </h1>

      <h2>Account management</h2>
      <ul>
        <li><a href="https://confluence.digital.nhs.uk/pages/viewpage.action?pageId=105545932">Confluence pages</a></li>
        <li><a href="https://jira.digital.nhs.uk/browse/CID-5206">Historic JIRA ticket</a></li>
        <li><a href="https://jira.digital.nhs.uk/browse/CID-7097">Latest JIRA ticket</a></li>
        <li>
          <a href="/account/v12/index?mobileMode=&devMode=&patient-email=paulsmith@hotmail.com&patient-email-2=&patient-mobile=07736251423&patient-mobile-2=&patient-landline=01135657577&patient-mobile-verified=&login-email=paulsmith@hotmail.com&login-mobile=07736251423">Latest version</a><br />
          <a href="/account/v12/app-start">Start scenario 1</a><br />
          <a href="/account/v12/app-start-2">Start scenario 2</a><br />
          <a href="/account/v12/index?mobileMode=y&devMode=&patient-email=paulsmith@hotmail.com&patient-email-2=&patient-mobile=07736251423&patient-mobile-2=&patient-landline=01135657577&patient-mobile-verified=&login-email=paulsmith@hotmail.com&login-mobile=07736251423&has-added-login-phone=y&has-added-login-email=y">Start scenario 3 (no prompt)</a>
        </li>
      </ul>


      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary index">
          <span class="nhsuk-details__summary-text">
            Versions
          </span>
        </summary>
        <div class="nhsuk-details__text version-text">
          <table>
            <tbody>
              <tr class="row-responsive">
                <th class="cell-left"><strong>Version</strong></th>
                <th><strong>Research</strong></th>
                <th><strong>What was new</strong></th>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v1/index">v1</a></th>
                <td>No research</td>
                <td>Initial effort by C.B.</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v2/index">v2</a></th>
                <td>Researched 17, 18, 19 July 2019 in labs</td>
                <td>Reformatted info and altered flows</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v3a/index">DA holding page</a></th>
                <td>No research</td>
                <td>Holding page to gather metric about delegated access features</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v3b/index">DA MVP</a></th>
                <td>Carers group Methley Sept 3, 4 home research sessions Sept 12/13</td>
                <td>MVP delegated access features within manage NHS login</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v3c/index">DA and beyond</a></th>
                <td>N/A - no research needed yet. Speculative work</td>
                <td>--</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v4/index">v4</a></th>
                <td>Usability testing (lab) with Oct 2nd with NHS App team. NHS App to account management user journey tested</td>
                <td>Modified delete account content</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v5-app/index">v5</a></th>
                <td>Usability testing (lab) version for the NHS App team.</td>
                <td>No header / footer</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v6/index?devMode=true">v6</a></th>
                <td>Research to be planned</td>
                <td>Adding account recovery management</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v7/index?devMode=y">v7</a></th>
                <td>Research to be planned</td>
                <td>A.C - enabling patients to update PDS data independently to NHS login data</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v8/index?devMode=y">v8</a></th>
                <td>Research to be planned</td>
                <td>NHS login credentials as default contact details</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v9/index?devMode=y&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=07788995544&patient-mobile-unverified=">v9</a></th>
                <td>Research to be planned</td>
                <td>Scope reduced to collecting and updating patient phone and email</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v10/index?devMode=y&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=07788995544&patient-landline=&patient-mobile-verified=&login-email=jonkingston@gmail.com&login-mobile=07736251423">v10</a></th>
                <td>Popup research on 02/03/2020 &amp; lab research on 11/03/2020</td>
                <td>Changes following design crit on 20/02/2020</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v11/index?devMode=y&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=07788995544&patient-landline=&patient-mobile-verified=&login-email=jonkingston@gmail.com&login-mobile=07736251423">v11</a></th>
                <td>Remote research on 02/04/2020</td>
                <td>Changes following previous research on 11/03/2020</td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v11hc">v11hc</a></th>
                <td>Help centre project</td>
                <td></td>
              </tr>
              <tr>
                <th class="cell-left"><a href="/account/v12/index?mobileMode=&devMode=&patient-email=paulsmith@hotmail.com&patient-email-2=&patient-mobile=07736251423&patient-mobile-2=&patient-landline=01135657577&patient-mobile-verified=&login-email=paulsmith@hotmail.com&login-mobile=07736251423">v12</a></th>
                <td>Yet to be tested</td>
                <td>Changes following previous research on 02/04/2020</td>
              </tr>
            </tbody>
          </table>
        </div>

      </details>

      <details class="nhsuk-details nhsuk-expander version-list">
        <summary class="nhsuk-details__summary index">
          <span class="nhsuk-details__summary-text">
            Error messages
          </span>
        </summary>

        <h4 class="nhsuk-heading-s nhsuk-u-margin-top-5">Change email</h4>
          <ul>
            <li><a href="/account/v6/errors/change-email/link-not-working">Confirm email link not working</a></li>
            <li><a href="/account/v6/errors/change-email/new-email-input-error">New email front-end validation error</a></li>
            <li><a href="/account/v6/errors/change-email/new-email-no-input">New email no input error</a></li>
            <li><a href="/account/v6/errors/change-email/password-incorrect">Password entry back-end validation error</a></li>
            <li><a href="/account/v6/errors/change-email/password-no-input">Password no input error</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Change number</h4>
          <ul>
            <li><a href="/account/v6/errors/change-number/new-number-input-error">New number front-end validation error</a></li>
            <li><a href="/account/v6/errors/change-number/new-number-no-input">New number no input error</a></li>
            <li><a href="/account/v6/errors/change-number/OTP-input-error">OTP field validation error (front & back-end)</a></li>
            <li><a href="/account/v6/errors/change-number/OTP-no-input">OTP no input error</a></li>
            <li><a href="/account/v6/errors/change-number/OTP-not-working">OTP not working error</a></li>
            <li><a href="/account/v6/errors/change-number/password-incorrect">Password entry back-end validation error</a></li>
            <li><a href="/account/v6/errors/change-number/password-no-input">Password no input error</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Change password</h4>
          <ul>
            <li><a href="/account/v6/errors/change-password/existing-password-input-error">Current password back-end validation error</a></li>
            <li><a href="/account/v6/errors/change-password/existing-password-no-input">Current password no input error</a></li>
            <li><a href="/account/v6/errors/change-password/new-password-confirmed-no-match">New password front-end validation error</a></li>
            <li><a href="/account/v6/errors/change-password/new-password-input-error">New password back-end validation error</a></li>
            <li><a href="/account/v6/errors/change-password/new-password-no-input">No fields inputted error</a></li>
            <li><a href="/account/v6/errors/change-password/new-password-one-input">Only one field inputted when entering new password error</a></li>
            <li><a href="/account/v6/errors/change-password/new-password-one-input-reverse">Only one field inputted when entering new password (reverse field of above)</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Delete account</h4>
          <ul>
            <li><a href="/account/v6/errors/delete-account/password-incorrect">Password incorrect</a></li>
            <li><a href="/account/v6/errors/delete-account/password-no-input">No password input</a></li>
          </ul>

          
          <h4 class="nhsuk-heading-s">Change recovery email</h4>
          <ul>
            <li><a href="/account/v6/errors/recovery-email-change/recovery-email-input-error">Email incorrect</a></li>
            <li><a href="/account/v6/errors/recovery-email-change/recovery-email-no-input">No email input</a></li>
            <li><a href="/account/v6/errors/recovery-email-change/recovery-password-incorrect">Password incorrect</a></li>
            <li><a href="/account/v6/errors/recovery-email-change/recovery-password-no-input">No password input</a></li>
          </ul>

          <h4 class="nhsuk-heading-s">Add recovery email</h4>
          <ul>
            <li><a href="/account/v6/errors/recovery-email-add/recovery-email-input-error">Email incorrect</a></li>
            <li><a href="/account/v6/errors/recovery-email-add/recovery-email-no-input">No email input</a></li>
            <li><a href="/account/v6/errors/recovery-email-add/recovery-password-incorrect">Password incorrect</a></li>
            <li><a href="/account/v6/errors/recovery-email-add/recovery-password-no-input">No password input</a></li>
          </ul>

      </details>
      <hr> 

      <h2>
        NHS profile
      </h2>
        <p><a href="/nhs-profile/settings/index">NHS profile example</a></p>



      <!-- End of content -->

    </div>
  </div>
{% endblock %}
