<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Page title goes here -->
      <h1>
        Manage your NHS login prototypes
      </h1>
      <ul>
        <li><a href="/account/v2/index">Manage your NHS login pb</a></li>
      </ul>

      <h2>
        NHS profile
      </h2>
      <ul>
        <li><a href="/nhs-profile/settings/index">NHS profile example</a></li>
      </ul>



      <!-- End of content -->

    </div>
  </div>
{% endblock %}
