<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-app-new.html' %}


{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">More</h1>
      <ul class="list-menu">
		<li>
			<a href="index?mobileMode=y&devMode=&patient-email=&patient-email-2=&patient-mobile=&patient-mobile-2=07788995544&patient-landline=&patient-mobile-verified=&login-email=jonkingston@gmail.com&login-mobile=07736251423" id="btn_contact">
				<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Change your NHS contact details</h2>
				<p>Make sure your contact details are up to date so that NHS services can contact you.</p>
			</a>
		</li>
		<li>
      		<a href="/app/organ-donation/v1/register-decision" id="btn_organdonation">
      			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Manage organ donation decision</h2>
      			<p>Help save thousands of lives in the UK every year by signing up to become a donor on the NHS Organ Donor Register.</p>
      		</a>
      	</li>
        <li>
          <a href="/app/ndop/v2/overview" id="btn_organdonation">
      			<h2 class="nhsuk-heading-m nhsuk-u-margin-bottom-0">Find out why your data matters</h2>
      			<p>Find out how the NHS uses your confidential patient information and choose whether or not it can be used for research and planning.</p>
      		</a>
      	</li>
      </ul>

    </div>
  </div>
{% endblock %}