<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Prototype kit
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <!-- Page title goes here -->
      <h1>
        Welcome to NHS login user testing
      </h1>

      <ul>
        <li><a href="https://olie440.github.io/nhs-help-centre/fake-google/whatisnhslogin/step-1/" target="_blank">Scenario 1</a></li>
        <li><a href="https://jira.digital.nhs.uk/browse/CID-5206" target="_blank">Scenario 2</a></li>
        <li><a href="https://jira.digital.nhs.uk/browse/CID-7097" target="_blank">Scenario 3</a></li>
        <li><a href="https://manage-nhs-login.herokuapp.com/account/v11hc/app-start1" target="_blank">Scenario 4</a></li>
        <li><a href="https://manage-nhs-login.herokuapp.com/account/v11hc/app-start2" target="_blank">Scenario 5</a></li>
        <li><a href="https://olie440.github.io/nhs-help-centre/fake-google/deletenhslogin/step-1/" target="_blank">Scenario 6</a></li>
      </ul>


      <!-- End of content -->

    </div>
  </div>
{% endblock %}
