{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  NHS login
{% endblock %}

{% block content %}

<!-- Redirect to a different version of the prompt -->



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

 
    <h1>Sorry - we're having technical problems</h1>

    <p>Please try again later.</p>


<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
If you keep getting this message    </span>
  </summary>
  <div class="nhsuk-details__text">
    <a href="#">Enter your registration details</a>

  </div>
</details>

    <p class="small">Reference: CID7024</p>

  
    </div> 

  </div>
{% endblock %}