{% extends 'layouts/layout.html' %}

{% block pageTitle %}
  NHS login
{% endblock %}

{% block content %}

<!-- Redirect to a different version of the prompt -->



  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-three-quarters">

 
    <h1>Sorry - we're having technical problems</h1>

    <p>Please try again later.</p>

        <p>Reference: CID7024</p>

        <p><a href="#">What does reference CID7024 mean?</a></p>


<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
If you keep getting this message    </span>
  </summary>
  <div class="nhsuk-details__text">
               <h3>Another way to connect your NHS login to your GP surgery</h3>
                <p>Ask your GP surgery for your registration details for GP online services. These are different to your username and password. You will need:</p>
                <ul>
                    <li>account ID</li>
                    <li>O.D.S. code (sometimes called organisation code or practice ID)</li>
                    <li>linkage key (sometimes called passphrase)</li>
                </ul>
                <p>When you have these details, log in again and enter your registration details.</p>

                <a class="button" href="#">Enter your registration details</a>

  </div>
</details>


  
    </div> 

  </div>
{% endblock %}