<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS.UK prototype kit - NHS.UK page layout
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "showNav": "true",
      "showSearch": "false",
      "primaryLinks": [
        {
          "url"  : "/account/v3c/index",
          "label" : "Manage your NHS login"
        },
        {
          "url"  : "/account/v3c/delegated-access",
          "label" : "Connected people"
        },
        {
          "url"  : "/account/v3c/log-out-done",
          "label" : "Log out"
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->


<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/v1/terms-of-use/terms-conditions",
        "label": "Terms and conditions"
      },
      {
        "URL": "/v1/terms-of-use/privacy-notice",
        "label": "Privacy notice"
      },
      {
        "URL": "/v1/terms-of-use/cookies",
        "label": "Cookies"
      },
      {
        "URL": "/v1/terms-of-use/accessibility-statement",
        "label": "Accessibility statement"
      }
    ]
  })}}
{% endblock %}
