<!-- This layout is setup for NHS.UK pages -->

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends "layouts/layout.html" %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  Manage your NHS login
{% endblock %}

<!-- Header goes inside this block -->
{% block header %}
  {{ header({
      "transactionalService": {
        "name": "Manage your NHS login",
        "href": "/nhs-profile"
      },
      "showNav": "true",
      "showSearch": "false",
      "primaryLinks": [
        {
          "url"  : "/nhs-profile/settings/index",
          "label" : "General settings"
        },
        {
          'url' : '/nhs-profile/profile/profile',
          'label' : 'Profile'
        },
        {
          'url'  : '/identity-level',
          'label' : 'Identity level'
        },
        {
          'url'  : '/nhs-profile/services/services',
          'label' : 'Your services'
        },
        {
          'url'  : '/nhs-profile/health-profiles/health-profiles',
          'label' : 'People you care for'
        },
        {
          'url' : '/nhs-profile/your-gp/your-gp',
          'label' : 'Your GP'
        }
      ]
    })
  }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
  {{ breadcrumb({
    text: "Home",
    href: "/nhs-profile/index"
  }) }}
{% endblock %}

<!-- Footer goes inside this block -->
{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "#",
        "label": "Terms and conditions"
      },
      {
        "URL": "#",
        "label": "Privacy notice"
      },
      {
        "URL": "#",
        "label": "Cookies"
      },
      {
        "URL": "#",
        "label": "Accessibility statement"
      }
    ]
  })}}
{% endblock %}
