{% extends 'layouts/layout-manage-access-v3b.html' %}

{% block pageTitle %}
  Manage your NHS login
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-xl">Manage your NHS login</h1>
              <svg class="nhsuk-icon nhsuk-icon__user nhsuk-icon--size-50 nhsuk-u-margin-right-2" xmlns="http://www.w3.org/2000/svg" viewBox="6 0 20 24" width="32" aria-hidden="true">
          <path class="user-icon" d="M16,2a10,10,0,0,0-1.09,19.93H15A6,6,0,0,0,16,22a6,6,0,0,0,1-.06h.05A10,10,0,0,0,16,2Zm5.4,15.88a6.45,6.45,0,0,0,.14-.88,5.3,5.3,0,0,0-2.4-4.14,4.89,4.89,0,0,1-6.28,0A5.3,5.3,0,0,0,10.46,17a6.45,6.45,0,0,0,.14.88,8,8,0,1,1,10.8,0Z"/>
          <circle class="user-icon" cx="16" cy="9" r="3"/>
        </svg>
        <div class="account-name-link">
          <h2 class="nhsuk-heading-m">{{ data.primaryUserFirstName or 'Alice' }} {{ data.primaryUserLastName or 'Smith' }}</h2>
        </div>
    </div>

    <div class="nhsuk-grid-column-three-quarters">
      <h3 class="nhsuk-heading-l">Your personal information</h3>
        <p class="nhsuk-body-m">You can change your email, password and phone number.</p>

      <div class="nhsuk-table-responsive user-info-table">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Your personal information</caption>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left"><b>Email</b></td>
              <td class="nhsuk-table__cell">{{ data.primaryUserFirstName or 'Alice' }}.{{ data.primaryUserLastName or 'Smith' }}@gmail.com</td>
              <td class="nhsuk-table__cell cell-right"><a href="email-change">Change email address</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left"><b>Password</b></td>
              <td class="nhsuk-table__cell">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</td>
              <td class="nhsuk-table__cell cell-right"><a href="password-change">Change password</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left"><b>Phone</b></td>
              <td class="nhsuk-table__cell ">&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;429</td>
              <td class="nhsuk-table__cell cell-right"><a href="phone-change">Change phone number</a></td>
            </tr>
          </tbody>
        </table>

      </div>
      
    
        <h3 class="nhsuk-heading-l">Connected people</h3>
      
        <!--<p>Currently, you do not have any people connected to your NHS login.</p>-->

      <div class="nhsuk-table__panel-with-heading-tab">
        <h3 class="nhsuk-table__heading-tab">People who can act on your behalf</h3>
        <div class="nhsuk-table-responsive">
          <table class="nhsuk-table">
            <caption class="nhsuk-table__caption">People who can act on your behalf</caption>
            <thead class="nhsuk-table__head">
              <tr class="nhsuk-table__row">
                <th class="nhsuk-table__header" scope="col">Person</th>
                <th class="nhsuk-table__header" scope="col">Service</th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr class="nhsuk-table__row">
                <td class="nhsuk-table__cell">NAME</td>
                <td class="nhsuk-table__cell ">stepWell</td>
              </tr>
            </tbody>
          </table>
        </div>
        
                <p><a class="nhsuk-button nhsuk-u-margin-bottom-0" href="https://delegated-access.herokuapp.com/{{ data.version or 'v4' }}/service/select-single-service">Add a person to your NHS login</a></p>

      </div>  
        

        <p><a href="#">Contact the helpdesk</a> if you want to remove a person from your NHS login, or if you want to remove their access to a service.</p>



      <h3 class="nhsuk-heading-l">Manage devices</h3>
        <p class="nhsuk-body-m">You have asked us not to send a security code when you use NHS login on these devices.</p>
      <div class="nhsuk-table-responsive user-info-table">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header cell-left" scope="col">Device</th>
              <th class="nhsuk-table__header" scope="col">First enabled</th>
              <th class="nhsuk-table__header cell-right" scope="col"></th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left"><b>Samsung Galaxy S7 Edge</b></td>
              <td class="nhsuk-table__cell">18 February 2019</td>
              <td class="nhsuk-table__cell cell-right"><a href="device-remove">Remove device</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left"><b>iPad Pro</b></td>
              <td class="nhsuk-table__cell">25 March 2019</td>
              <td class="nhsuk-table__cell cell-right"><a href="device-remove">Remove device</a></td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell cell-left"><b>Windows PC</b></td>
              <td class="nhsuk-table__cell">4 April 2019</td>
              <td class="nhsuk-table__cell cell-right"><a href="device-remove">Remove device</a></td>
            </tr>
          </tbody>
        </table>
      </div>

    <h3 class="nhsuk-heading-l">Delete account</h3>
      <p class="nhsuk-body-m">You will need to enter your password to delete your account.</p>
      <p class="nhsuk-body-m nhsuk-u-margin-top-4"><a href="delete-login">Delete account</a></p>

    </div>

  </div>

{% endblock %}
